html,body{min-width: 1200px;}
.header{height:100px;}
.header2{height:88px;}
.header .logo{width:280px;height:40px;position: absolute;left:0px;top:45px;}
.header2 .logo{top:12px;}
.header_top{width:550px;position: absolute;right:10px;top:5px;overflow: hidden;}
.header_top ul{float: left;}
.header_top ul li{float:left;margin-right: 10px;line-height:32px;}
.header_top ul li a{font-size:12px;color:#333333;}
.header_top ul li i{display:inline-block;width:14px;height:12px;}
.header_top ul li.li1 i{background: url(../bg/png_001.png)no-repeat;}
.header_top ul li.li2 i{background: url(../bg/png_002.png)no-repeat;}
.header_top ul li.li3 i{background: url(../bg/png_003.png)no-repeat;}
.header_top .search{width:238px;height:32px;position: relative;float: right;margin-right: 5px;margin-top: 3px;}
.header_top .search .sch{width:238px;height:26px;line-height:26px;font-size:14px;color:#999999;border-radius: 16px 16px;border:1px solid #999;text-indent: 16px;}
.header_top .search .sub{width: 32px;height: 20px;background: url(../bg/png_004.png)no-repeat;position: absolute;right: 0px;top:6px;cursor: pointer;}
.header_top2{width: 400px;}
.header_top2 .search{float: left;margin-top: 4px;}
.header_top2 .tel{width:120px;float: right;border-left: 4px solid #dddbdb;padding-left: 15px;font-size: 14px;line-height:20px;color: #333;}


.header_nav{position: absolute;right:15px;top:50px;}
.header2 .header_nav{top:27px;right:100px;}
.header_nav ul li{height:34px;line-height:34px;font-size: 16px;float: left;padding: 0px 4px;margin: 0px 8px;}
.header_nav ul li a{color: #333333;}
.header_nav ul li.hover,.header_nav ul li:hover{border-bottom: 4px solid #ce091d;}
.header_nav ul li.hover a,.header_nav ul li:hover a{color:#ce091d;}
.header2 .header_nav ul li.hover,.header2 .header_nav ul li:hover{border-bottom:none;}
.header2 .header_nav ul li.hover a,.header2 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom:none;}
.header3 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li{margin: 0px 20px;}
.header4 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom: 4px solid #702e48;}
.header4 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#702e48;}
.header4 .header_nav ul li{margin: 0px 20px;}



.banner{width:100%;max-width: 1920px;display: block;margin: 0 auto;min-width: 1200px;}
.banner img{width: 100%;}
.banner .page1 .swiper-pagination-bullet{background:#FFFFFF;}
.banner .page1 .swiper-pagination-bullet-active{background:#ce091d;}

.title{color:#333;text-align: center;}
.title h3{line-height:42px;font-size:36px;}
.title h4{line-height:24px;font-size:18px;font-family:Arial;}

.title2{color:#333;text-align: center;}
.title2 h3{line-height:42px;font-size:30px;}
.title2 h4{line-height:24px;font-size:24px;font-family:Arial;}

.title3{color:#333;text-align: center;margin: 30px auto;}
.title3 h3{line-height:40px;font-size:24px;}
.title3 h4{line-height:30px;font-size:18px;}
.title3 p{line-height:20px;font-size:16px;}


.products{margin-top: 50px;}
.products ul.pro_tt{text-align: center;margin-top: 10px;}
.products ul.pro_tt li{display: inline-block;height: 42px;line-height:42px;font-size:24px;color:333333;margin: 0px 35px;cursor: pointer;}
.products ul.pro_tt li.hover{border-top: 4px solid #ce091d;color:#ce091d;}
.products ul.pro_list li{overflow: hidden;padding:50px 0px 30px 0px;display: none;}
.products ul.pro_list li a.more{display: inline-block;float: right;font-size: 14px;color:#999;}
.products ul.pro_list li .left_list{width:600px;float: left;}
.products ul.pro_list li .left_list h3{line-height:60px;font-size:30px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list h4{line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list p{height:128px;line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .right_list{width:600px;float: right;text-align: center;}
.products ul.pro_list li .right_list img{max-width:600px;}

.join{margin-top: 50px;}
.join .bt{line-height:50px;font-size:24px;color:#333;}
.join ul{}
.join ul li{width:246px;height:216px;float: left;margin-left:72px;}
.join ul li:nth-child(1){margin-left: 0px;}
.join ul li .img{width:246px;height:160px;overflow: hidden;}
.join ul li .img img{width:100%;transition:all linear .3s}
.join ul li:hover img{transform:scale(1.05)}
.join ul li h3{line-height:56px ;font-size:18px;color:#333;text-align: center;}
.join ul li:hover h3{color:#ce091d;}

.news{margin-top: 50px;}
.news_left{width:480px;float: left;margin-top:30px ;transition:all linear .3s}
.news_left:hover{box-shadow:inset 0px 0px 5px #999;}
.news_left img{width:480px;height:400px;}
.news_left .wz{padding: 5px 10px 20px;overflow:hidden ;}
.news_left h3,.news_right h3{line-height:50px ;font-size:20px;color:#333;font-weight: bold;}
.news_left p,.news_right p{height:72px;line-height:24px ;font-size:16px;color:#333;overflow: hidden;}
.news_left span,.news_right span{font-size:16px;color:#999;float: right;margin-top: 10px;}
.news_right{width:690px;float: right;margin-top:30px ;}
.news_right ul{}
.news_right ul li{padding:20px;overflow: hidden;border-top:1px solid #c4c4c4;transition:all linear .3s}
.news_right ul li:nth-child(1){border: none;}
.news_right ul li img{width:185px;height:159px;float: right;}
.news_right h3,.news_right p{width:440px;}
.news_right span{margin-right: 30px;}
.news_right ul li:hover{box-shadow:inset 0px 0px 5px #999;}
.xian{height:30px;border-bottom: 1px solid #ececec;margin-top: 20px;}

.success{padding: 50px 0px;background: url(../bg/png_005.png)repeat;}
.success ul{}
.success ul li{width:380px;height:345px;float:left;border:1px solid #c4c4c4;margin-left: 18px;margin-top: 20px;transition:all linear .3s}
.success ul li:nth-child(3n+1){margin-left: 0px;}
.success ul li .img,.success ul li .img img{width:380px;display: block;}
.success ul li .wz{overflow: hidden;padding: 10px 10px 10px;}
.success ul li .wz h3{height:30px;line-height:32px ;color:#333;font-size:16px;overflow: hidden;margin-bottom: 10px;}
.success ul li .wz i,.success ul li .wz span{font-size:14px;color:#999;}
.success ul li .wz span{float: right;}
.success ul li:hover{box-shadow:inset 0px 0px 5px #999;transform: translateY(-10px);}


.current{line-height:20px;font-size:14px;color:#333;margin-top: 10px;margin-bottom:20px;}
.current a{display: inline-block;color:#333;}


.contact{}
.contact_left{float: left;width:500px;margin-top: 20px;}
.contact_left ul li{line-height:60px;font-size:20px;color:#333;padding-left: 60px;margin-top: 20px;border-bottom: 1px solid #333;}
.contact_left ul li i{display: block;width:51px;height:5px;background: url(../bg/png_010.png)no-repeat;}
.contact_left ul li.l1{background: url(../bg/png_006.png)no-repeat 0px 8px;margin-top: 15px;}
.contact_left ul li.l2{background: url(../bg/png_007.png)no-repeat 0px 8px;}
.contact_left ul li.l3{background: url(../bg/png_008.png)no-repeat 0px 8px;}
.contact_left ul li.l4{background: url(../bg/png_009.png)no-repeat 0px 8px;}

.contact_right{float: right;width:600px;margin-top: 20px;}
.contact_right ul li{position: relative;margin-top: 15px;line-height: 36px;font-size:18px;color:#333;overflow: hidden;}
.contact_right ul li input{height: 34px;line-height: 34px;color:#333;font-size:18px;border: 1px solid #333;border-radius: 18px;text-indent: 15px;}
.contact_right ul li input#user{width:200px;}
.contact_right ul li input#tel{width:270px;}
.contact_right ul li input#address{width:340px;}
.contact_right ul li textarea{width:410px;height:108px;line-height:36px;font-size:18px;border: 1px solid #333;color:#333;border-radius: 18px;text-indent: 15px;float: right;margin-right: 130px;}
.contact_right ul li input.sub{width: 96px;height:48px;line-height: 48px;color: #333;text-align:center;font-size: 24px;border:1px solid #333;border-radius: 10px 10px;text-indent: 0px;cursor: pointer;margin-left: 80px;}

.servicetime{margin-top: 60px;}
.servicetime ul{margin-top: 30px;}
.servicetime li{width:180px;height:180px;border-radius: 50%;float: left;color:#333;text-align: center;position: relative;}
.servicetime li h3{line-height:50px;font-size:30px;padding-top: 40px;}
.servicetime li h4{line-height:50px;font-size:24px;}
.servicetime li.t1{border:6px solid #0086d1;}
.servicetime li.t2{border:6px solid #b32a2a;margin-left: 100px;}
.servicetime li.t3{border:6px solid #32b16c;margin-left: 230px;}
.servicetime li.t4{border:6px solid #a84200;margin-left: 100px;}
.servicetime li.t3 h3,.servicetime li.t4 h3{font-size:48px;font-weight: bold;}
.servicetime li.t1::before{content: "";width:64px;height:36px;background: url(../bg/png_35.png)no-repeat;position:absolute;right:-90px;top:70px;}
.servicetime li.t3::before{content: "";width:64px;height:36px;background: url(../bg/png_36.png)no-repeat;position:absolute;right:-90px;top:70px;}


.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}



.smart{margin-top: 10px;}
.sm_left{width:810px;height:405px;float: left;overflow: hidden;}
.sm_left img{width: 100%;}
.sm_right{width:378px;height:405px;float: right;overflow: hidden;}
.sm_right a{display: block;width:378px;height: 197px;overflow: hidden;}
.sm_right a:nth-child(2){margin-top: 12px;}
.sm_right img{width: 100%;}

.smart2{width: 100%;margin-top: 40px;}
.smart2 img{width:100%;max-width: 1920px;display: block;margin: 0 auto;}

.smart3{margin-top: 28px;}
.smart3 ul{}
.smart3 ul li{width:594px;height:405px;float:left;margin-left: 12px;margin-top: 12px;}
.smart3 ul li:nth-child(2n+1){margin-left: 0px;}
.smart3 ul li img{width:100%;}

.ab_h3{line-height: 50px;font-size:30px;color: #333;border-bottom: 2px solid #999;text-align: center;margin-bottom: 20px;}

.survey {margin-bottom: 40px;}
.survey .img{width:524px;height:346px;padding: 15px;border: 2px solid #999;float: left;overflow: hidden;}
.survey .img img{width:524px;height:346px;}
.survey .wz{width:600px;height:376px;float:right;overflow: hidden;color: #333;}
.survey .wz h4{line-height: 40px;font-size:24px;margin-bottom: 10px;}
.survey .wz p{line-height: 26px;font-size:16px;text-indent: 2em;}




.course{margin-top: 20px;padding-bottom: 40px;}
.course ul{}
.course ul li{width:340px;height:460px;background:#ecebeb ;float: left;padding: 20px;margin-left: 30px;}
.course ul li:first-child{margin-left: 0px;}
.course ul li .ct{width:340px;height:430px;background: #fff;box-shadow: 0px 4px 8px #666;padding-top: 30px;}
.course ul li .ct .img{width:150px;height:150px;border-radius: 50%;margin: 0px auto;overflow: hidden;}
.course ul li .ct .img img{width:150px;height:150px;}
.course ul li .ct h4{line-height:40px ;font-size:24px;color:#333;text-align: center;margin-top: 15px;}
.course ul li .ct h5{line-height:40px ;font-size:16px;color:#333;text-align: center;}
.course ul li .ct p{line-height:26px ;font-size:16px;color:#999;padding: 0px 20px;}





.team {width: 1200px;padding-bottom: 30px;}
.team .swiper-container {width: 95%;padding: 10px 0px 30px;}
.team .swiper-slide {background-position: center;background-size: 130% 120%;width: 60%;height: 580px;}
.team .swiper-slide img {display: blwidth: 100%;height: 580px;}
.team .page2{bottom: 0px;}
.team .page2 .swiper-pagination-bullet{background:#333;}
.team .page2 .swiper-pagination-bullet-active{background:#ce091d;}



.honor{margin-top: 40px;margin-bottom: 50px;}
.honor ul{}
.honor ul li{width:260px;height:370px;float:left;margin-left: 24px;margin-top: 30px;padding: 11px;background: #dfdfdf;}
.honor ul li:nth-child(4n+1){margin-left: 0px;}
.honor ul li img{width:100%;}
.honor ul li .wz{width:258px;height:180px;border: 1px solid #999;position: relative;margin-top: 8px;}
.honor ul li .wz p{line-height: 26px;font-size:16px;color:#333;}
.honor ul li .wz p.p1{padding-left: 10px;}
.honor ul li .wz p.p2{text-align: center;margin-top:15px ;}
.honor ul li .wz p.p3{text-align: right;position: absolute;bottom: 0px;right: 0px;margin-right: 10px;}


.case{width:1000px;padding: 50px 100px;background: #fafafa;}
.case_tj{position: relative;overflow: hidden;}
.case_tj img{width:1000px;height: 350px;}
.case_tj .wz{width:400px;height:350px;position: absolute;top:0px;right: 50px;}
.case_tj .wz h3{line-height:30px;font-size:24px;color:#333;margin-top: 80px;}
.case_tj .wz p{height:120px;line-height:24px;font-size:14px;color:#666;overflow: hidden;margin-top: 10px;}
.case_tj .wz a.more{display:block;width:60px;line-height:30px;font-size:16px;color:#fff;background:#ce091d ;text-align: center;margin-top: 10px;}

.case ul{padding-top: 15px;}
.case ul li{width:320px;height:470px;float: left;overflow: hidden;margin-left: 20px;margin-bottom: 20px;transition:all linear .3s} 
.case ul li:nth-child(3n+1){margin-left: 0px;}
.case ul li:hover{transform: translateY(-10px);}
.case ul li img{width:320px;height:320px;}
.case ul li h3{height:30px;line-height:30px;font-size:20px;color:#333;overflow: hidden;}
.case ul li p{height:60px;line-height:20px;font-size:14px;color:#333;overflow: hidden;margin-top: 5px;}
.case ul li a.more{display:block;width:60px;line-height:30px;font-size:16px;color:#fff;background:#ce091d ;text-align: center;margin-top: 10px;}

.nweslist{}
.nweslist_tj{}
.nweslist_tj li{overflow: hidden;margin-bottom: 60px;}
.nweslist_tj li .img{width:600px;height:400px;float: left;overflow: hidden;}
.nweslist_tj li .img img{width:600px;height:400px;}
.nweslist_tj li .wz{width:530px;height:400px;float: right;position: relative;}
.nweslist_tj li .wz h3{line-height:44px ;font-size:24px;color:#333;}
.nweslist_tj li .wz p{height:260px;line-height:26px ;font-size:16px;color:#999;text-indent: 2em;margin-top: 20px;overflow: hidden;}
.nweslist_tj li .wz a{display:inline-block;line-height:32px ;font-size:18px;color: #333;border:1px solid #118ed4;border-radius:17px;padding: 0px 20px;}
.nweslist_tj li:nth-child(2) .img{float: right;}
.nweslist_tj li:nth-child(2) .wz{float: left;}
.nweslist_tj li:nth-child(2) .wz h3{text-align: right;}
.nweslist_tj li:nth-child(2) .wz a{float: right;}

.newsbt{line-height:88px;font-size:30px;color: #333;text-align: center;}

.nweslist_lb{}
.nweslist_lb li{overflow: hidden;margin-bottom: 20px;padding-right: 20px;}
.nweslist_lb li .img{width:348px;height:258px;float: left;overflow: hidden;}
.nweslist_lb li .img img{width:348px;height:258px;transition:all linear .3s}
.nweslist_lb li .wz{width:800px;height:258px;float: right;position: relative;}
.nweslist_lb li .wz h3{line-height:44px ;font-size:24px;color:#333;margin-top: 10px;}
.nweslist_lb li .wz p{height:130px;line-height:26px ;font-size:16px;color:#999;margin-top: 10px;overflow: hidden;}
.nweslist_lb li .wz span{display:block;line-height:26px ;font-size:16px;color:#999;overflow: hidden;text-align: right;}
.nweslist_lb li .wz span i{display: inline-block;width:25px;height:13px;background: url(../bg/png_34.png)no-repeat;margin-right: 3px;}
.nweslist_lb li:hover .img img{transform: scale(1.05);}
.nweslist_lb li:hover .wz h3{color:#ce091d;}
.nweslist_lb li:hover{box-shadow:inset 0px 0px 5px #999;}


.yijia{}
.yj_left{width:380px;float: left;}
.yj_left ul{width:378px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;}
.yj_left ul h3{line-height:50px;font-size:16px;color:#fff;text-align: center;background:#64a7d9 ;}
.yj_left ul li{height:66px;line-height:66px;font-size:18px;text-align: center;border-top:1px solid #64a7d9;}
.yj_left ul li a{display: block;height:100%;color:#333;}
.yj_left ul li:hover,.yj_left ul li.hover{background:#f3f3f3;}
.yj_left ul li:hover a,.yj_left ul li.hover a{background:url(../bg/png_27.png)no-repeat center;}
.yj_js{width:308px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;padding:35px;margin: 35px 0px;}
.yj_js p{line-height:32px;font-size:16px ;color: #333;}
.yj_right{width:780px;float: right;}
.yj_right ul li{width:780px;height:340px;overflow: hidden;margin-bottom: 20px;}
.yj_right ul li img{width:100%;}
.fixed{position: fixed;top:0px;}
.absolute{position: absolute;bottom:0px;}

.yjxq{}
.yjxq .img{width:500px;height:500px;overflow: hidden;float: left;text-align: center;border: 1px solid #333;line-height:500px;}
.yjxq img{display: inline-block; vertical-align: middle;}
.yjxq .wz{width:650px;height:500px;overflow: hidden;float: right;color:#333;}
.yjxq .wz h3{line-height:40px ;font-size:24px;}
.yjxq .wz h4{line-height:24px ;font-size:16px;margin: 20px 0px;}
.yjxq .wz p{line-height:32px ;font-size:18px;}

.yjcontent{margin-top: 20px;}
.yjcontent h3{height:60px;line-height:60px ;color:#333;font-size:24px;background: url(../bg/png_28.png) no-repeat 0px 59px;}

  
.mc{}
.mc h3{line-height:60px ;font-size:30px;color:#333;margin-top: 20px;}
.mc ul{}
.mc ul li{width:380px;height:450px;float: left;margin: 20px 0px 30px 20px;}
.mc ul li:nth-child(3n+1){margin-left: 0px;} 
.mc ul li .img{width:380px;height:390px;overflow: hidden;} 
.mc ul li .img img{width:100%;transition:all linear .3s;}
.mc ul li h4{height:60px;line-height: 60px;font-size:30px;color:#fff ;text-align: center;background: #b8b8b8;overflow: hidden;}
.mc ul li:hover img{transform:scale(1.05);}

/*wrapper*/
.memo_bg{padding: 40px 0px;background: #fff;}
.memo{}
.memo #picSlideWrap{}
.memo .imgnav{  position:relative;width:1200px;}
.memo #img{ z-index:10; width:1200px;height:auto; position:relative;overflow: hidden;}
.memo #img .img{width:1200px; height:auto; display:none;overflow: hidden;padding: 40px 0px;}
.memo #img .img .memo_lt{width:500px;font-size:72px;color: #ce091d;float: left;text-align: right;}
.memo #img .img .memo_rt{width:550px;line-height:28px;font-size:18px;color: #333;float: right;margin-right: 100px;}





.memo #cbtn{ position:relative; height:20px; margin-top:5px;padding: 0px 55px;overflow: hidden;}
.memo #cbtn ul{position:relative; width:10000px; height:80px;margin-top: 5px;}
.memo #cbtn ul li{ float:left; width:110px; height:6px; cursor:pointer;position:relative;background: url(../bg/png_33.png)no-repeat;}
.memo #cbtn li.hov{background-position-y: -6px;}
.memo .ctrl div{ clear:both;}
.memo #cSlideUl{ height:20px;overflow:hidden; position:relative;}
.memo .picSildeLeft{display:block;width:30px;height:20px;line-height:20px;font-size:12px;text-align:center;background:#bebebe;color:#333;cursor:pointer; position:absolute;  left:0px; z-index:9;}
.memo .picSildeRight{display:block;width:30px;height:20px;line-height:20px;font-size:12px;text-align:center;background:#bebebe;color:#333;cursor:pointer; position:absolute;  right:0px; z-index:9;}
.memo .picSildeRight:hover,.memo .picSildeLeft:hover{color:#ce091d;}


.zn_xq #picSlideWrap{float:left;}
.zn_xq .imgnav{  position:relative;width:463px;}
.zn_xq #img{ z-index:10; width:420px;height:450px;padding:23px 25px 45px 18px; position:relative; text-align:center;overflow: hidden;background: url(../bg/png_38.png)no-repeat;}
.zn_xq #img img{width:420px; height:450px; display:none;}
.zn_xq #front{ position:absolute; left:23px; top:25px; z-index:10; cursor:pointer;  width:210px; height:450px; }
.zn_xq #next{  position:absolute; right:18px; top:25px; z-index:10;cursor:pointer; width:210px; height:450px;}

.zn_xq #cbtn{ position:relative; height:80px; margin-top:5px;padding: 0px 20px;overflow: hidden;}
.zn_xq #cbtn ul{position:relative; width:10000px; height:80px;margin-top: 5px;}
.zn_xq #cbtn ul li{ float:left; width:70px; height:70px; cursor:pointer; text-align:center; margin:0px 6px; position:relative;border: 1px solid transparent;}
.zn_xq #cbtn ul li img{ width:70px; height:70px; display:block;}
.zn_xq #cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:10px; line-height:16px; padding:0 5px;}
.zn_xq #cbtn li.hov{border: 1px solid #333;}
.zn_xq .ctrl div{ clear:both;}
.zn_xq #cSlideUl{ height:80px;overflow:hidden; position:relative;}
.zn_xq .picSildeLeft{cursor:pointer; position:absolute; top:6px; left:0px; z-index:9;}
.zn_xq .picSildeRight{cursor:pointer; position:absolute; top:6px; right:0px; z-index:9;}





.mc_rt{width:700px;float: right;color: #333;}
.mc_rt p{line-height:45px;font-size:16px;}

.mc_ct{margin-top: 30px;}
.mc_ct .ct_lt{width:400px;float: left;}
.mc_ct .ct_rt{width:750px;float: right;color: #333;}
.mc_ct .ct_rt h3{line-height:50px;font-size:30px;text-align: left;}
.mc_ct .ct_rt p{line-height:32px;font-size:18px;text-indent: 0;}

.hanger{}
.hanger .hglist{width:1000px;height:114px;position: relative;overflow: hidden;margin-left: 100px;}
.hanger .hglist ul{width:20000em;position:absolute;}
.hanger .hglist ul li{width:200px;height:114px;float: left;}
.hanger .hglist ul li .img{width:200px;height:66px;overflow: hidden;text-align: center;}
.hanger .hglist ul li .img img{display: inline-block;}
.hanger .hglist ul li h3{line-height: 48px;font-size:18px;color:#333;text-align: center;}
.hanger .hglist ul li:hover h3,.hanger .hglist ul li.hover h3{color:#702e48;}
.hanger .prev{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat;position: absolute;left:50px;top:43px;}
.hanger .next{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat -28px 0px ;position: absolute;right:50px;top:43px;}
.hanger .prev:hover{background: url(../bg/png_19.png)no-repeat 0px -48px;}
.hanger .next:hover{background: url(../bg/png_19.png)no-repeat -28px -48px;}

.hangerlist{margin-bottom: 30px;}
.hangerlist ul{}
.hangerlist ul li{width:380px;height:280px;float: left;border-radius: 10px;overflow: hidden;transition:all linear .3s;margin-left:20px ;margin-top: 45px;position: relative;}
.hangerlist ul li:nth-child(3n+1){margin-left: 0px;}
.hangerlist ul li img{width:380px;height:280px;display: block;}
.hangerlist ul li h3{width:100%;height:50px;line-height: 50px;font-size:20px;color:#fff;background:#712f49;text-align: center;position: absolute;left:0px;bottom: 0px;display: none;}
.hangerlist ul li:hover{transform: translateY(-15px);}
.hangerlist ul li:hover h3{display: block;}


.hgxq{}
.hgxq img{width:460px;height:360px;overflow: hidden;float: left;}
.hgxq .wz{width:690px;height:360px;overflow: hidden;float: right;}
.hgxq .wz p{line-height:40px ;font-size:24px;color:#333;}
.hgxq .wz p i{font-size:30px;color: #ce091d;font-weight: bold;}
.hgxq .wz .zx{display: block;width:170px;height:54px;background: url(../bg/png_20.png)no-repeat;margin: 10px auto;}
.hgcontent{margin-top: 20px;}
.hgcontent h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}



.groom{margin-bottom: 40px;}
.groom_left{width:380px;height:270px;float: left;background: #fafafa;}
.groom h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}
.groom_left p{line-height:32px;font-size:16px ;color: #333;padding-left: 20px;}
.groom_right{width:790px;height:270px;float: right;background: #fafafa;}
.groom_right ul{}
.groom_right ul li{width:350px;height:32px;line-height:32px;float: left;overflow: hidden;margin-left: 20px;font-size:16px ;}
.groom_right ul li a{color:#777;}
.groom_right ul li p{display:inline-block;width:220px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.groom_right ul li span{display: block;float: right;}
.groom_right ul li i{display: block;float: left;margin-right: 5px;}
.groom_right ul li:hover a{color:#333;}

.strength{}
.strength ul{margin-top: 20px;}
.strength ul li{width:380px;height:480px;float: left;margin: 0px 10px;} 
.strength ul li .wz{padding: 15px;height:210px;background:#64a7d9;overflow: hidden;}
.strength ul li .wz h3{line-height:30px ;font-size:24px;color:#333;text-align: center;margin-top: 20px;}
.strength ul li .wz p{line-height:24px ;font-size:16px;color:#333;margin-top: 20px;}
.strength ul li .img{width:376px;height:236px;border:2px solid #b1a494;overflow: hidden;position: relative;}
.strength ul li .img img{width:376px;height:236px;}
.strength ul li .img span{display:block;background: #fff;position: absolute;transition:all linear .3s;}
.strength ul li .img span.span1{width:376px;height:4px;top:14px;left:-500px;}
.strength ul li .img span.span2{width:4px;height:236px;top:-500px;right:14px;}
.strength ul li .img span.span3{width:376px;height:4px;bottom:14px;right:-500px;}
.strength ul li .img span.span4{width:4px;height:236px;bottom:-500px;left:14px;}
.strength ul li:hover .wz h3{color:#f90a26;}
.strength ul li:hover .wz p{color:#fff;}
.strength ul li:hover .img span.span1{transform:translateX(500px);}
.strength ul li:hover .img span.span2{transform:translateY(500px);}
.strength ul li:hover .img span.span3{transform:translateX(-500px);}
.strength ul li:hover .img span.span4{transform:translateY(-500px);}


.advantage{margin-top: 25px;}

.advantage ul{}
.advantage ul li{width:280px;height:380px ;float: left;margin: 10px;box-shadow: 0px 0px 5px #999;transition:all linear .3s;}
.advantage ul li img{width:280px;height:380px ;}
.advantage ul li:hover{transform:translateY(-10px);}


.requirement{margin-top: 40px;height:445px;}
.rq_lt{width:530px;height:445px;margin-left: 100px;background: url(../bg/png_37.png)no-repeat 0px 22px;position: absolute;left:0px;top:0px;}
.requirement ul{width:600px;height:445px;position: absolute;right:0px;top:0px;}
.requirement ul li{overflow: hidden;height:78px;}
.requirement ul li.rq1{margin-top:20px ;}
.requirement ul li.rq2{margin-top:22px;}
.requirement ul li.rq3{margin-top:29px ;}
.requirement ul li.rq4{margin-top:40px;}
.requirement ul li h3{line-height:30px;font-size:16px;color: #333;text-indent: 2em;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.requirement ul li h3 span{font-size:24px;}
.requirement ul li p{height:48px;line-height:24px;font-size:14px;color: #333;overflow: hidden;}

.process{margin-top: 40px;margin-bottom: 40px;}
.process ul{}
.process ul li{width:280px;float:left;margin: 10px;text-align: center;overflow: hidden;}
.process ul li h3{line-height:26px; font-size:18px;color: #333;}
.process ul li h4{line-height:20px; font-size:14px;color: #666;}
.process ul li img{width:280px;height:180px;margin: 10px 0px;}
.process ul li p{line-height:22px; font-size:14px;color: #333;text-align: left;}


.franchise{padding: 10px 0px 40px 0px;}
.franchise ul{}
.franchise ul li{width:196px;height:196px;border:2px solid #999;border-radius: 50%;box-shadow: 0px 0px 4px #999;float: left;position: relative;margin: 40px 20px 0px 20px;}
.franchise ul li:first-child{margin-left: 140px;}
.franchise ul li span{display: block;width:80px;height: 80px;line-height: 80px;text-align: center;font-size:36px;font-weight: bold;background: #ce091d;color: #fff;border-radius: 50%;position: absolute;left:58px;top:-40px;}
.franchise ul li h3{line-height: 30px;font-size:24px;color: #ce091d;font-weight: bold;text-align: center;margin-top: 50px;padding: 0px 15px ;overflow: hidden;}
.franchise ul li h4{height:72px;line-height: 24px;font-size:16px;color: #333;text-align: center;margin-top: 10px;padding: 0px 20px ;overflow: hidden;}

.jiaju{}
.jiaju .jiaju_list{line-height: 40px;}
.jiaju .jiaju_list span{font-size:20px;color: #333;float: left;}
.jiaju .jiaju_list p{width:1080px;float: right;}
.jiaju .jiaju_list a{font-size:20px;color: #333;float: left;margin-left:30px;}
.jiaju .jiaju_list a.hover,.jiaju .jiaju_list a:hover{color: #ce091d;}
.jiaju .jiaju_list a.none{display: none;}

.jiaju .zn_lb{margin: 30px 0px;}
.jiaju .zn_lb ul li{width:380px;height:480px;transition:all linear .3s;background: #fff;float: left;margin: 10px;}
.jiaju .zn_lb ul li .img{width:380px;height:390px;overflow: hidden;}
.jiaju .zn_lb ul li .img img{transition:all linear .3s;}
.jiaju .zn_lb ul li:hover .img img{transform: scale(1.05);}
.jiaju .zn_lb ul li:hover{box-shadow: 0px 0px 4px gray;}
.jiaju .zn_lb ul li .wz{padding:10px 0px;background: #fff;color:#333;height:70px;line-height: 35px;font-size: 16px;overflow: hidden;text-align: left;text-indent: 20px;}
.jiaju .zn_lb ul li .wz p{width:100%;overflow: hidden;}
.jiaju .zn_lb ul li:hover .wz{background:#fc7f7f ;color:#fff;}











.content{padding: 20px 10px;}
.content h3{line-height:60px ;font-size:30px;color:#333;text-align: center;}
.content p{line-height:32px ;font-size:18px;color:#333;text-indent: 2em;}
.content p img{margin:10px auto;max-width: 1200px;display: block;}


.showpage{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage form{display: inline-block;}
.showpage p{display: inline-block;margin: 0px 10px;}
.showpage a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage a:hover,.showpage a.hover{border:1px solid #d03241;color:#d03241;}
.showpage .sub{width:58px;height:38px;border:2px solid #b31524;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}


.showpage2{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage2 a{display: inline-block; font-size: 18px;color:#333;height:30px;line-height: 30px;}
.showpage2 a.prev{float: left;}
.showpage2 a.next{float: right;}
.showpage2 a.list i{display:inline-block;width:20px;height:20px;background: url(../bg/png_017.png)no-repeat;float: left;margin-top: 5px;margin-right: 5px;}
.showpage2 a:hover{color:#d03241;}
.showpage2 a:hover i{background: url(../bg/png_018.png)no-repeat;}


.footer_zn{height:305px;min-width: 1200px;}
.footer_zn .ft_1{height:235px;background:#cacaca;}
.footer_zn .ft_1 ul{float: left;margin-left: 80px;margin-top: 20px;}
.footer_zn .ft_1 ul li{line-height:28px ;font-size:20px;color:#fff;text-align: center;}
.ft_1 ul.u2{width:350px;border-left:1px solid #fff;padding:0px 40px;height:200px;margin-left:40px;}
.ft_1 ul.u2 h3{line-height: 40px;font-size:20px;color: #fff;}
.ft_1 ul.u2 p{line-height: 24px;font-size:16px;color: #fff;}
.ft_1 ul.u3{width:120px;padding:0px 30px;border-left:1px solid #fff;height:200px;border-right: 1px solid #fff; margin-left: 0px}
.ft_1 ul.u4{margin-left: 40px;}
.footer_zn .ft_1 ul li a{color:#fff;font-size: 16px;}
.footer_zn .ft_1 ul li:hover a{text-decoration: underline;}
.footer_zn .ft_1 ul li.rwm{margin-top:10px;}
.footer_zn .ft_1 ul li.rl{font-size:16px;text-align: left;}
.footer_zn .ft_1 ul li.tel{line-height:40px;font-size:36px;text-align: left;font-weight: bold;text-indent: 40px;background:url(../bg/png_32.png)no-repeat 0px 3px;margin-top: 10px;}
.footer_zn .ft_1 ul li.lx{height:54px;margin-top: 15px;position: relative;}
.footer_zn .ft_1 ul li.lx a{display: block;width:54px;height:54px;float: left;margin-right:15px;}
.footer_zn .ft_1 ul li.lx a.qq{background:url(../bg/png_31.png)no-repeat ;}
.footer_zn .ft_1 ul li.lx a.wb{background:url(../bg/png_31.png)no-repeat -68px 0px ;}
.footer_zn .ft_1 ul li.lx a.wx{background:url(../bg/png_31.png)no-repeat -136px 0px;}
.footer_zn .ft_1 ul li.lx .rwm{width:100px;height:100px;position: absolute;top:0px;left:200px;display: none;}
.footer_zn .ft_1 ul li.lx .rwm img{width:100%;}
.footer_zn .ft_1 ul li.lx a.wx:hover .rwm{display: block;}
.footer_zn .ft_2{line-height: 30px;text-align: center;font-size:18px;color:#fff ;background: #999;border-top: 1px solid #fff;padding: 10px 0px;}
