{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('update')}">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>图片
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="image"  id="test">
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>标题
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="title"  value="{$data.title}"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="100px;">所属分类</label>
                    <span style="margin-left: -110px;">（用什么分类）</span>
                    <div class="layui-input-inline" >
                        <select name="pid" style="display: block;">
                            <option value="0">顶级分类</option>

                            {volist name="res" id="vo"}
                            <option value="{$vo.pid}">{$vo.cate_name}</option>
                            {/volist}
                        </select>
                    </div>
                    <input type="hidden" name="id" value="{$data.id}">
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>内容
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <textarea name="content" id="content">{$data.content}</textarea>
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>