{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('update')}">
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>图片
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="image"  id="test">
                      </div>
                    </div>
                </div>

                
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>标题
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="title"  value="{$data.title}"
                         class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>链接
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="link" name="link"  value="{$data.link}"
                         class="layui-input">
                    </div>

                    <input type="hidden" name="id" value="{$data.id}">

                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="" type="submit">
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}


    </body>

</html>