html,body{min-width: 1200px;}
.header{height:100px;}
.header2{height:88px;}
.header .logo{width:280px;height:40px;position: absolute;left:0px;top:45px;}
.header2 .logo{top:12px;}
.header_top{width:550px;position: absolute;right:10px;top:5px;overflow: hidden;}
.header_top ul{float: left;}
.header_top ul li{float:left;margin-right: 10px;line-height:32px;}
.header_top ul li a{font-size:12px;color:#333333;}
.header_top ul li i{display:inline-block;width:14px;height:12px;}
.header_top ul li.li1 i{background: url(../bg/png_001.png)no-repeat;}
.header_top ul li.li2 i{background: url(../bg/png_002.png)no-repeat;}
.header_top ul li.li3 i{background: url(../bg/png_003.png)no-repeat;}
.header_top .search{width:238px;height:32px;position: relative;float: right;margin-right: 5px;margin-top: 3px;}
.header_top .search .sch{width:238px;height:26px;line-height:26px;font-size:14px;color:#999999;border-radius: 16px 16px;border:1px solid #999;text-indent: 16px;}
.header_top .search .sub{width: 32px;height: 20px;background: url(../bg/png_004.png)no-repeat;position: absolute;right: 0px;top:6px;cursor: pointer;}
.header_top2{width: 400px;}
.header_top2 .search{float: left;margin-top: 4px;}
.header_top2 .tel{width:120px;float: right;border-left: 4px solid #dddbdb;padding-left: 15px;font-size: 14px;line-height:20px;color: #333;}


.header_nav{position: absolute;right:15px;top:50px;}
.header2 .header_nav{top:27px;right:100px;}
.header_nav ul li{height:34px;line-height:34px;font-size: 16px;float: left;padding: 0px 4px;margin: 0px 8px;}
.header_nav ul li a{color: #333333;}
.header_nav ul li.hover,.header_nav ul li:hover{border-bottom: 4px solid #ce091d;}
.header_nav ul li.hover a,.header_nav ul li:hover a{color:#ce091d;}
.header2 .header_nav ul li.hover,.header2 .header_nav ul li:hover{border-bottom:none;}
.header2 .header_nav ul li.hover a,.header2 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom:none;}
.header3 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li{margin: 0px 20px;}
.header4 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom: 4px solid #702e48;}
.header4 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#702e48;}
.header4 .header_nav ul li{margin: 0px 20px;}



.banner{width:100%;max-width: 1920px;display: block;margin: 0 auto;min-width: 1200px;}
.banner img{width: 100%;}
.banner .page1 .swiper-pagination-bullet{background:#FFFFFF;}
.banner .page1 .swiper-pagination-bullet-active{background:#ce091d;}

.title{color:#333;text-align: center;}
.title h3{line-height:42px;font-size:36px;}
.title h4{line-height:24px;font-size:18px;font-family:Arial;}

.title2{color:#333;text-align: center;}
.title2 h3{line-height:42px;font-size:30px;}
.title2 h4{line-height:24px;font-size:24px;font-family:Arial;}

.title3{color:#333;text-align: center;margin: 30px auto;}
.title3 h3{line-height:60px;font-size:48px;font-family:Arial;color: #f3f3f3}
.title3 h4{line-height:44px;font-size:36px;}

.title4{color:#333;text-align: center;margin: 10px auto;}
.title4 h3{line-height:30px;font-size:24px;}
.title4 h4{line-height:30px;font-size:18px;font-family:Arial;}


.products{margin-top: 50px;}
.products ul.pro_tt{text-align: center;margin-top: 10px;}
.products ul.pro_tt li{display: inline-block;height: 42px;line-height:42px;font-size:24px;color:333333;margin: 0px 35px;cursor: pointer;}
.products ul.pro_tt li.hover{border-top: 4px solid #ce091d;color:#ce091d;}
.products ul.pro_list li{overflow: hidden;padding:50px 0px 30px 0px;display: none;}
.products ul.pro_list li a.more{display: inline-block;float: right;font-size: 14px;color:#999;}
.products ul.pro_list li .left_list{width:600px;float: left;}
.products ul.pro_list li .left_list h3{line-height:60px;font-size:30px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list h4{line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list p{height:128px;line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .right_list{width:600px;float: right;text-align: center;}
.products ul.pro_list li .right_list img{max-width:600px;}

.join{margin-top: 50px;}
.join .bt{line-height:50px;font-size:24px;color:#333;}
.join ul{}
.join ul li{width:246px;height:216px;float: left;margin-left:72px;}
.join ul li:nth-child(1){margin-left: 0px;}
.join ul li .img{width:246px;height:160px;overflow: hidden;}
.join ul li .img img{width:100%;transition:all linear .3s}
.join ul li:hover img{transform:scale(1.05)}
.join ul li h3{line-height:56px ;font-size:18px;color:#333;text-align: center;}
.join ul li:hover h3{color:#ce091d;}

.news{margin-top: 50px;}
.news_left{width:480px;float: left;margin-top:30px ;transition:all linear .3s}
.news_left:hover{box-shadow:inset 0px 0px 5px #999;}
.news_left img{width:480px;height:400px;}
.news_left .wz{padding: 5px 10px 20px;overflow:hidden ;}
.news_left h3,.news_right h3{line-height:50px ;font-size:20px;color:#333;font-weight: bold;}
.news_left p,.news_right p{height:72px;line-height:24px ;font-size:16px;color:#333;overflow: hidden;}
.news_left span,.news_right span{font-size:16px;color:#999;float: right;margin-top: 10px;}
.news_right{width:690px;float: right;margin-top:30px ;}
.news_right ul{}
.news_right ul li{padding:20px;overflow: hidden;border-top:1px solid #c4c4c4;transition:all linear .3s}
.news_right ul li:nth-child(1){border: none;}
.news_right ul li img{width:185px;height:159px;float: right;}
.news_right h3,.news_right p{width:440px;}
.news_right span{margin-right: 30px;}
.news_right ul li:hover{box-shadow:inset 0px 0px 5px #999;}
.xian{height:30px;border-bottom: 1px solid #ececec;margin-top: 20px;}

.success{padding: 50px 0px;background: url(../bg/png_005.png)repeat;}
.success ul{}
.success ul li{width:380px;height:345px;float:left;border:1px solid #c4c4c4;margin-left: 18px;margin-top: 20px;transition:all linear .3s}
.success ul li:nth-child(3n+1){margin-left: 0px;}
.success ul li .img,.success ul li .img img{width:380px;display: block;}
.success ul li .wz{overflow: hidden;padding: 10px 10px 10px;}
.success ul li .wz h3{height:30px;line-height:32px ;color:#333;font-size:16px;overflow: hidden;margin-bottom: 10px;}
.success ul li .wz i,.success ul li .wz span{font-size:14px;color:#999;}
.success ul li .wz span{float: right;}
.success ul li:hover{box-shadow:inset 0px 0px 5px #999;transform: translateY(-10px);}


.current{line-height:20px;font-size:14px;color:#333;margin-top: 10px;margin-bottom:20px;}
.current a{display: inline-block;color:#333;}


.contact{}
.contact .c_ly_bt{height:40px;line-height: 40px;border-bottom:1px solid #999 ;text-align: center;}
.contact .c_ly_bt h3{height: 39px;line-height:39px;display:inline-block;width:500px;font-size:24px;color:#333;border-bottom: 3px solid #e60039;}
.contact .c_ly_bt h3 span{display: inline-block;width:6px;height:6px;border-radius: 50%;background:#e60039 ;position: relative;top:-4px;}
.contact ul{margin: 30px 0px;}
.contact ul li{width:298px;height:499px;float:left;border-right: 1px solid #999;border-bottom: 1px solid #999;border-top: 1px solid #999;position: relative;}
.contact ul li:nth-child(1){border-left:1px solid #999;}
.contact ul li .cl_bg{width:298px;height:499px;position: absolute;top:-339px;left:0px;z-index: -9;transition:all linear .3s}
.contact ul li .cl_bg_1{background:#e60039;}
.contact ul li .cl_bg_2{background:#63ba68;}
.contact ul li .cl_bg_3{background:#f3a115;}
.contact ul li .cl_bg_4{background:#5d69b0;}
.contact ul li:hover .cl_bg{transform: translateY(339px);}
.contact ul li .wz{line-height:44px;font-size:18px;color:#333;padding: 30px;transition:all linear .3s}
.contact ul li:hover .wz{color: #fff;}


.luxian{margin-bottom: 30px;}
.luxian .lx_left{width:500px;float: left;}
.luxian .lx_right{width:500px;float: right;margin-right: 100px;}
.luxian h3{line-height:40px ;font-size:24px;color:#64a7d9;margin-top: 20px;}
.luxian p{line-height:30px ;font-size:18px;color:#333;}



.smart{margin-top: 10px;}
.sm_left{width:810px;height:405px;float: left;overflow: hidden;}
.sm_left img{width: 100%;}
.sm_right{width:378px;height:405px;float: right;overflow: hidden;}
.sm_right a{display: block;width:378px;height: 197px;overflow: hidden;}
.sm_right a:nth-child(2){margin-top: 12px;}
.sm_right img{width: 100%;}

.smart2{width: 100%;margin-top: 40px;}
.smart2 img{width:100%;max-width: 1920px;display: block;margin: 0 auto;}

.smart3{margin-top: 28px;}
.smart3 ul{}
.smart3 ul li{width:594px;height:405px;float:left;margin-left: 12px;margin-top: 12px;}
.smart3 ul li:nth-child(2n+1){margin-left: 0px;}
.smart3 ul li img{width:100%;}

.survey{margin-top: 30px;}
.survey .title2{margin-bottom: 40px;}
.survey_left{width:600px;height:370px;float: left;overflow: hidden;}
.survey_left img{width:100%;}
.survey_right{width:560px;height:370px;float: right;overflow: hidden;}
.survey_right .bt{background: url(../bg/png_44.png) no-repeat 0px 4px;padding-left: 15px;}
.survey_right h3{line-height:30px ;font-size:24px ;color:#333;font-weight: bold;}
.survey_right h4{line-height:20px ;font-size:26px ;color:#333;margin-bottom: 30px;}
.survey_right p{line-height:30px ;font-size:16px ;color:#333;overflow: hidden;text-indent: 2em;}
.survey_right .more{color:#999;font-size:16px;}
.survey_right .more:hover{color: #333;}


.lc{margin: 30px 0px;height:670px;background: url(../images/p_080.jpg)no-repeat top center;background-size:1920px 550px ;}




.course{background: url(../images/p_035.jpg)no-repeat top center;height:620px;}
.course .title2{margin-top: 40px;}
.course .history{margin-top: 40px;}

.team{margin-top: 40px;}
.team ul{}
.team ul li{overflow: hidden;margin-top: 40px;}
.team ul li .img{width:300px;height:300px;float: left;}
.team ul li .img img{width:100%;}
.team ul li .wz{width:666px;height:300px;float: right;color:#333;margin-right: 200px;}
.team ul li .wz h3{line-height:50px;font-size:30px;margin-top: 10px;}
.team ul li .wz h4{line-height:36px;font-size:24px;padding-bottom: 20px;border-bottom: 1px solid #f3f3f3;}
.team ul li .wz p{line-height:26px;font-size:16px;margin-top: 20px;margin-bottom: 20px;}
.team ul li .wz .more:hover{color: #333;}


.team2{margin-top: 60px;}
.team2 h3{line-height:40px ;font-size:24px;color:#333;font-weight:bold;text-align: center;}
.team2 ul{overflow: hidden;}
.team2 ul li{width:380px;height:420px;overflow: hidden;margin-top: 40px;float: left;margin-left: 30px;}
.team2 ul li:nth-child(3n+1){margin-left: 0px;}
.team2 ul li img{width:380px;height:380px;}
.team2 ul li h4{line-height:40px;font-size:16px;color:#333;text-align: center;}

.hxys_bg{height:420px;background: url(../images/p_093.jpg)no-repeat center;margin: 30px auto 0px;max-width: 1920px;padding: 30px 0px;}
.hxys ul{}
.hxys ul li{width:260px;height:260px;background: url(../bg/png_42.png)no-repeat;float: left;margin: 20px;line-height: 260px;text-align: center;} 
.hxys ul li a{color: #fff;font-size:20px;font-weight: bold;}
.hxys ul li:nth-child(2),.hxys ul li:nth-child(4){background: url(../bg/png_43.png)no-repeat;}

.honor{margin-top: 40px;margin-bottom: 50px;}
.honor ul{}
.honor ul li{width:282px;height:192px;float:left;margin-left: 24px;margin-top: 30px;}
.honor ul li:nth-child(4n+1){margin-left: 0px;}

.honor2{margin-top: 40px;margin-bottom: 50px;}
.honor2 ul{}
.honor2 ul li{width:262px;height:250px;float:left;padding: 10px;box-shadow: 0px 0px 6px gray;margin: 9px;}
.honor2 ul li img{width:262px;height:168px;display: block;}
.honor2 ul li h4{height:82px;line-height:82px;font-size:16px;color:#333;text-align: center;border: 1px solid #e5e5e5;}



.case{}
.case ul{padding-top: 15px;margin-top: 20px;}
.case ul li{width:280px;height:380px;float: left;overflow: hidden;margin-left: 26px;margin-bottom: 40px;transition:all linear .3s} 
.case ul li:nth-child(4n+1){margin-left: 0px;}
.case ul li:hover{transform: translateY(-10px);}
.case ul li img{width:280px;height:280px;}
.case ul li h3{height:30px;line-height:30px;font-size:18px;color:#333;overflow: hidden;border-bottom: 1px solid #999;text-overflow:ellipsis;
white-space: nowrap;margin-top: 10px;}
.case ul li p{height:26px;line-height:26px;font-size:14px;color:#333;overflow: hidden;text-overflow:ellipsis;
white-space: nowrap;}


.nweslist{}
.news_lt{width:380px;float:left;}
.news_lt ul{padding: 10px 16px;background: #eaeaea;}
.news_lt ul li{width:348px;height:340px;padding:16px 0px;border-top: 1px solid #999;}
.news_lt ul li:nth-child(1){border-top: none;}
.news_lt ul li .img{width:348px;height:260px;overflow: hidden;}
.news_lt ul li img{width:348px;height:260px;transition:all linear .3s}
.news_lt ul li h3{height:28px;line-height:28px;font-size:18px;color:#333;overflow: hidden;text-overflow:ellipsis;
white-space: nowrap;margin-top: 6px;}
.news_lt ul li p{height:48px;line-height:24px;font-size:16px;color:#333;overflow: hidden;}
.news_lt ul li:hover img{transform: scale(1.1);}

.news_rt{width:780px;float:right;}
.news_rt ul{background: #eaeaea;padding: 10px 0px;}
.news_rt ul li{padding: 15px;overflow: hidden;transition:all linear .3s}
.news_rt ul li img{width:190px;height:220px;float: left;}
.news_rt ul li .wz{width:530px;float: right;color:#333 ;}
.news_rt ul li .wz h3{line-height:40px ;font-size:24px;}
.news_rt ul li .wz p{height:96px;line-height:24px ;font-size:16px;overflow: hidden;margin: 20px 0px;}
.news_rt ul li .wz h4{width:180px;line-height:22px ;font-size:15px;margin-left: 350px;}
.news_rt ul li:hover{background: #fafafa;box-shadow: 0px 0px 5px #999;transform: translate(-3px,-3px);}






.yijia{}
.yj_left{width:380px;float: left;}
.yj_left ul{width:378px;border-radius: 10px;border:1px solid #e60039;overflow: hidden;}
.yj_left ul h3{line-height:50px;font-size:16px;color:#fff;text-align: center;background:#e60039 ;}
.yj_left ul li{height:68px;line-height:68px;font-size:18px;text-align: center;border-top:1px solid #e60039;}
.yj_left ul li a{display: block;height:100%;color:#333;}
.yj_left ul li:hover,.yj_left ul li.hover{background:#f3f3f3;}
.yj_left ul li:hover a,.yj_left ul li.hover a{background:url(../bg/png_27.png)no-repeat top center;}
.yj_js{width:308px;border-radius: 10px;border:1px solid #e60039;overflow: hidden;padding:35px;margin: 35px 0px;}
.yj_js p{line-height:32px;font-size:16px ;color: #333;}
.yj_right{width:780px;float: right;}
.yj_right ul li{width:780px;height:340px;overflow: hidden;margin-bottom: 20px;}
.yj_right ul li img{width:100%;}
.fixed{position: fixed;top:0px;}
.absolute{position: absolute;bottom:0px;}

.yjxq{}
.yjxq .img{width:500px;overflow: hidden;float: left;text-align: center;border: 1px solid #333;}
.yjxq img{display: inline-block; vertical-align: middle;margin-left:-140px;}
.yjxq .wz{width:650px;overflow: hidden;float: right;color:#333;}
.yjxq .wz h3{line-height:40px ;font-size:24px;}
.yjxq .wz h4{line-height:24px ;font-size:16px;margin: 20px 0px;}
.yjxq .wz p{line-height:32px ;font-size:18px;}

.yjcontent{margin-top: 20px;}
.yjcontent h3{height:60px;line-height:60px ;color:#333;font-size:24px;background: url(../bg/png_28.png) no-repeat 0px 59px;}

.container_image{width:1130px;height:630px;margin:0 auto;position:relative;}
.container_image .i_btn{display:block;width:40px;height:80px;position:absolute;top:225px;z-index:3;}
.container_image .prev_L{left:-54px;background-image:url(../bg/png_29.png);}
.container_image .next_R{right:-54px;background-image:url(../bg/png_30.png);}
.slide_img {margin-left:-394px;position:relative;z-index:1;}
.slide_img li{overflow:hidden;position:absolute;top:15px;background:#ffffff;}
.slide_img li a{display:block;position:relative;width:100%;height:100%;height:630px;}
.slide_img li a img{position:absolute;height:100%;}
.slide_img li .bg{width: 1100px;height:480px;padding-top:150px;position: absolute;left:0px;top:0px;background: rgba(0,0,0,.5);opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;display: block !important;}
.slide_img li:hover .bg{opacity: 1;-ms-opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.slide_img li .bg a{display:block;height:40px;line-height: 44px;font-size:24px;color:#fff;text-align: center;overflow: hidden;}
.slide_img li .bg a:hover{text-decoration:underline;}

.mc{}
.mc h3{line-height:60px ;font-size:30px;color:#333;margin-top: 20px;}
.mc ul{}
.mc ul li{width:380px;height:450px;float: left;margin: 20px 0px 30px 20px;}
.mc ul li:nth-child(3n+1){margin-left: 0px;} 
.mc ul li .img{width:380px;height:390px;overflow: hidden;} 
.mc ul li .img img{width:100%;transition:all linear .3s;}
.mc ul li h4{height:60px;line-height: 60px;font-size:30px;color:#fff ;text-align: center;background: #b8b8b8;overflow: hidden;}
.mc ul li:hover img{transform:scale(1.05);}

/*wrapper*/
#picSlideWrap{float:left;}
.imgnav{  position:relative;}
#img{ z-index:10; width:642px;height:472px; position:relative; text-align:center;overflow: hidden;border-radius:15px ;top:40px;left:500px;}
#img img{width:642px; height:472px; display:none; }
#cbtn{ position:absolute;width:396px; height:620px; box-shadow: 0px 0px 6px #333;overflow: hidden;left:10px;top:80px;border-radius:15px ;background:#fff;}
#cbtn ul{position:relative; width:396px; height:auto;overflow: hidden;}
#cbtn .before{width:2px;height:560px;background: #e60039;position: absolute;left:197px;top:30px;}
#cbtn ul li{ float:left; width:396px; height:72px;line-height:72px; cursor:pointer;font-size:24px;color: #333;font-weight: bold;}
#cbtn ul li:nth-child(2n+1){text-indent: 100px;background: url(../bg/time2.png)no-repeat 164px 25px;}
#cbtn ul li:nth-child(2n){text-indent: 240px;background: url(../bg/time1.png)no-repeat 185px 25px;}
#cbtn li.hov{color:#902d38;}
#cbtn ul li:nth-child(2n+1).hov{text-indent: 100px;background: url(../bg/time4.png)no-repeat 164px 25px;}
#cbtn ul li:nth-child(2n).hov{text-indent: 240px;background: url(../bg/time3.png)no-repeat 185px 25px;}
.ctrl div{ clear:both;}
#cSlideUl{ height:580px;overflow:hidden; position:relative;padding: 20px 0px;}
.picSildeLeft{cursor:pointer; position:absolute; top:4px; left:188px; z-index:9;display: block;width:21px;height:16px;background: url(../bg/le.png)no-repeat;}
.picSildeRight{cursor:pointer; position:absolute; bottom:4px; left:188px; z-index:9;display: block;width:21px;height:16px;background: url(../bg/le.png)no-repeat 0px -16px;}
.picSildeLeft:hover{background: url(../bg/le.png)no-repeat -21px 0px;}
.picSildeRight:hover{background: url(../bg/le.png)no-repeat -21px -16px;}

.mc_rt{width:750px;float: right;color: #333;}
.mc_rt h3{line-height:50px;font-size:30px;}
.mc_rt p{line-height:32px;font-size:18px;}

.mc_ct{margin-top: 30px;}
.mc_ct .ct_lt{width:400px;float: left;}
.mc_ct .ct_rt{width:750px;float: right;color: #333;}
.mc_ct .ct_rt h3{line-height:50px;font-size:30px;text-align: left;}
.mc_ct .ct_rt p{line-height:32px;font-size:18px;text-indent: 0;}

.hanger{}
.hanger .hglist{width:1000px;height:114px;position: relative;overflow: hidden;margin-left: 100px;}
.hanger .hglist ul{width:20000em;position:absolute;}
.hanger .hglist ul li{width:200px;height:114px;float: left;}
.hanger .hglist ul li .img{width:200px;height:66px;overflow: hidden;text-align: center;}
.hanger .hglist ul li .img img{display: inline-block;}
.hanger .hglist ul li h3{line-height: 48px;font-size:18px;color:#333;text-align: center;}
.hanger .hglist ul li:hover h3,.hanger .hglist ul li.hover h3{color:#702e48;}
.hanger .prev{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat;position: absolute;left:50px;top:43px;}
.hanger .next{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat -28px 0px ;position: absolute;right:50px;top:43px;}
.hanger .prev:hover{background: url(../bg/png_19.png)no-repeat 0px -48px;}
.hanger .next:hover{background: url(../bg/png_19.png)no-repeat -28px -48px;}

.hangerlist{margin-bottom: 30px;}
.hangerlist ul{}
.hangerlist ul li{width:380px;height:280px;float: left;border-radius: 10px;overflow: hidden;transition:all linear .3s;margin-left:20px ;margin-top: 45px;position: relative;}
.hangerlist ul li:nth-child(3n+1){margin-left: 0px;}
.hangerlist ul li img{width:380px;height:280px;display: block;}
.hangerlist ul li h3{width:100%;height:50px;line-height: 50px;font-size:20px;color:#fff;background:#712f49;text-align: center;position: absolute;left:0px;bottom: 0px;display: none;}
.hangerlist ul li:hover{transform: translateY(-15px);}
.hangerlist ul li:hover h3{display: block;}


.hgxq{}
.hgxq img{width:460px;height:360px;overflow: hidden;float: left;}
.hgxq .wz{width:690px;height:360px;overflow: hidden;float: right;}
.hgxq .wz p{line-height:40px ;font-size:24px;color:#333;}
.hgxq .wz p i{font-size:30px;color: #ce091d;font-weight: bold;}
.hgxq .wz .zx{display: block;width:170px;height:54px;background: url(../bg/png_20.png)no-repeat;margin: 10px auto;}
.hgcontent{margin-top: 20px;}
.hgcontent h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}



.groom{margin-bottom: 40px;}
.groom_left{width:380px;height:270px;float: left;background: #fafafa;}
.groom h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}
.groom_left p{line-height:32px;font-size:16px ;color: #333;padding-left: 20px;}
.groom_right{width:790px;height:270px;float: right;background: #fafafa;}
.groom_right ul{}
.groom_right ul li{width:350px;height:32px;line-height:32px;float: left;overflow: hidden;margin-left: 20px;font-size:16px ;}
.groom_right ul li a{color:#777;}
.groom_right ul li p{display:inline-block;width:220px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.groom_right ul li span{display: block;float: right;}
.groom_right ul li i{display: block;float: left;margin-right: 5px;}
.groom_right ul li:hover a{color:#333;}

.strength{}
.strength .bt{background: url(../bg/png_44.png) no-repeat 0px 6px;padding-left: 15px;padding-bottom: 10px;border-bottom: 2px solid #999;}
.strength h3{line-height: 30px;font-size:24px;color: #333;margin: 30px 0px 0px 0px;}
.strength h4{line-height: 22px;font-size:20px;color: #999;margin-bottom: 30px;}
.strength ul.jm_1{margin-top: 0px;}
.strength ul.jm_1 li{width:280px;height:360px;float: left;position: relative;transition:all linear .3s;margin: 5px 8px;} 
.strength ul.jm_1 li img{width:280px;height:310px;}
.strength ul.jm_1 li h4{width:280px;height:50px;line-height:50px;font-size:16px;color:#a39964;text-align: center;overflow: hidden;}
.strength ul.jm_1 li:hover{box-shadow: 0px 0px 5px #999;}

.strength ul.jm_2{margin-top: 40px;}
.strength ul.jm_2 li{width:280px;height:300px;float: left;position: relative;margin: 5px 8px;} 
.strength ul.jm_2 li p{width:232px;height:232px;border-radius:50% ;line-height:232px;text-align:center;font-size:60px;color:#333;margin: 0 auto;}
.strength ul.jm_2 li.jm_2_1 p{border:6px solid #00a0e9;}
.strength ul.jm_2 li.jm_2_2 p{border:6px solid #e0c95f;}
.strength ul.jm_2 li.jm_2_3 p{border:6px solid #19927d;}
.strength ul.jm_2 li.jm_2_4 p{border:6px solid #f2191e;}
.strength ul.jm_2 li span{display: block;width:60px;height:60px;line-height: 60px;border-radius:50% ;text-align:center;font-size:36px;color:#333;background: #fff;position: absolute;right:20px;top:20px;}
.strength ul.jm_2 li h4{width:280px;height:50px;line-height:50px;font-size:18px;color:#333;text-align: center;overflow: hidden;}


.strength ul.jm_3{}
.strength ul.jm_3 li{width:240px;height:290px;float: left;border-bottom: 2px solid #333;}
.strength ul.jm_3 li div{width:210px;height:210px;border-radius: 50%;margin: 35px auto;text-align: center;background:#0f70b9;color: #333;}
.strength ul.jm_3 li div img{display: inline-block;margin-top: 50px;}
.strength ul.jm_3 li div h3{line-height: 48px;font-size:24px;margin: 0 0;}
.strength ul.jm_3 li:nth-child(4){margin-left: 480px;}
.strength ul.jm_3 li:hover div{background: #f7b74c;}
.strength ul.jm_3 li:hover div h3{color: #fff;}


.advantage_bg{background: #dadada;padding-bottom: 30px;margin-top: 20px;}
.advantage{}
.ad_lt{width:600px;float: left;}
.ad_lt h3{line-height: 60px;font-size:24px;color: #333;border-bottom: 2px solid #ca943b;padding-top: 40px;}
.ad_lt ul{}
.ad_lt ul li{line-height: 50px;font-size:18px;color:#333;cursor: pointer;}
.ad_lt ul li.hover{color: #fff;}
.ad_rt{width:600px;float: right;}
.ad_rt ul{width:420px;overflow: hidden;margin-left: 50px;}
.ad_rt ul li{width:420px;overflow: hidden;display: none;}
.ad_rt ul li .img{width:230px;height:230px;border-radius: 50%;overflow: hidden;margin: 30px auto;}
.ad_rt ul li .img img{width:100%;}
.ad_rt ul li p{line-height: 26px;font-size:16px;color:#333;height:78px;}


.requirement{margin-top: 40px;}
.requirement ul{}
.requirement ul li{width:400px;height:250px;float: left;position: relative;overflow: hidden;margin-top: 20px;}
.requirement ul li img{margin: 10px auto;display: block;transition:all linear .3s;}
.requirement ul li h3{text-align: center;font-size:24px;color:#333;margin-top: 15px;}
.requirement ul li p{width:340px;height:180px;position: absolute;left:0px;top:0px;line-height:32px;font-size:16px;color:#333;padding: 50px 30px 20px 30px;text-indent: 2em;opacity:0;-ms-opacity:0;background: #fff;}
.requirement ul li:hover p{opacity: 1;-ms-opacity:1;}
.requirement ul li:hover img{opacity: 0;-ms-opacity:0;}
.requirement ul li:hover h3{position: absolute;left: 0px;top: 0px;z-index: 9999;width:100%;text-align: center;}



.process_bg{height:600px;background: url(../images/p_092.jpg)no-repeat top center;background-size:1920px 700px ;max-width: 1920px;margin: 40px auto 0px;}
.process{}
.process .pr_lt{float: left;width:560px;height:460px;background: #fff;margin: 50px 0px 0px 10px;padding: 15px;}
.process .pr_lt h3{line-height: 40px;line-height:40px;color:#333;font-size:24px;font-weight: bold;}
.process .pr_lt ul{border: 1px solid #999;padding: 15px 28px;height:430px;}
.process .pr_lt ul li{position: relative;margin-top: 20px;}
.process .pr_lt ul li span{display: block;width:80px;height:36px;line-height: 36px;font-size:18px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.process .pr_lt ul li i{display: block;width:130px;height:36px;line-height: 36px;font-size:18px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.process .pr_lt ul li input{width: 500px;height: 36px;line-height: 36px;color:#333;font-size:18px;border: 1px solid #333;text-indent: 80px;}
.process .pr_lt ul li textarea{width:500px;height:144px;line-height:36px;font-size:18px;border: 1px solid #333;text-indent: 130px;color:#333;}
.process .pr_lt ul li input.sub{width: 148px;height:36px;line-height: 36px;color: #fff;text-align:center;font-size: 18px;background: #bfbfbf;border:none;border-radius: 10px 10px;text-indent: 0px;cursor: pointer;}

.process .pr_rt{float: right;width:490px;height:460px;background: #fff;margin: 50px 0px 0px 10px;padding: 15px;}
.process .pr_rt .wz{height:430px;border: 1px solid #999;padding: 15px;line-height: 60px;font-size:24px;color: #333;}






.franchise_bg{background: #fafafa;padding: 30px 0px; margin-bottom: 100px;}
.home_01 .d1{ padding:30px; position:relative;background:#fff;margin-top: 30px;}
.home_01 .d1 .scroll{ width:1050px; height:246px; margin:0 auto;}
.home_01 .d1 .scroll li{ margin-left:30px;width: 330px;height:246px;position: relative;}
.home_01 .d1 .scroll li:nth-child(3n+1){ margin-left:0;}
.home_01 .d1 .scroll li .bg{width: 330px;height:246px;position: absolute;left:0px;top:0px;background: rgba(0,0,0,.5);opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;}
.home_01 .d1 .scroll li .bg h3{height:50px;line-height: 50px;font-size:16px;color:#fff;text-align: center;overflow: hidden;margin-top: 196px;}
.home_01 .d1 .scroll li:hover .bg{opacity: 1;-ms-opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.home_01 .d1 .prevPage,.home_01 .d1 .nextPage{ width:28px; height:52px; display:block; position:absolute; top:128px;}
.home_01 .d1 .prevPage{ background:url(../bg/png_011.png) no-repeat; left:30px;}
.home_01 .d1 .nextPage{ background:url(../bg/png_013.png) no-repeat; right:30px;}
.home_01 .d1 .prevPage:hover{ background:url(../bg/png_012.png) no-repeat;}
.home_01 .d1 .nextPage:hover{ background:url(../bg/png_014.png) no-repeat;}


.content{padding: 20px 10px;}
.content h3{line-height:60px ;font-size:30px;color:#333;text-align: center;}
.content p{line-height:32px ;font-size:18px;color:#333;text-indent: 2em;}
.content p img{margin:10px auto;max-width: 1200px;display: block;}






.showpage{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage form{display: inline-block;}
.showpage p{display: inline-block;margin: 0px 10px;}
.showpage a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage a:hover,.showpage a.hover{border:1px solid #d03241;color:#d03241;}
.showpage .sub{width:58px;height:38px;border:2px solid #b31524;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}

.showpage_lyj a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage_lyj a:hover,.showpage_lyj a.hover{border:1px solid #64a7d9;color:#64a7d9;}
.showpage_lyj .sub{width:58px;height:38px;border:2px solid #64a7d9;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}



.showpage2{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage2 a{display: inline-block; font-size: 18px;color:#333;height:30px;line-height: 30px;}
.showpage2 a.prev{float: left;}
.showpage2 a.next{float: right;}
.showpage2 a.list i{display:inline-block;width:20px;height:20px;background: url(../bg/png_017.png)no-repeat;float: left;margin-top: 5px;margin-right: 5px;}
.showpage2 a:hover{color:#d03241;}
.showpage2 a:hover i{background: url(../bg/png_018.png)no-repeat;}

.showpage2_lyj a:hover{color:#64a7d9;}

.footer_zn{height:305px;min-width: 1200px;}
.footer_zn .ft_1{height:235px;background:#cacaca;}
.footer_zn .ft_1 ul{float: left;margin-left: 80px;margin-top: 20px;}
.footer_zn .ft_1 ul li{line-height:28px ;font-size:20px;color:#fff;text-align: center;}
.ft_1 ul.u2{width:350px;border-left:1px solid #fff;padding:0px 40px;height:200px;margin-left:40px;}
.ft_1 ul.u2 h3{line-height: 40px;font-size:20px;color: #fff;}
.ft_1 ul.u2 p{line-height: 24px;font-size:16px;color: #fff;}
.ft_1 ul.u3{width:120px;padding:0px 30px;border-left:1px solid #fff;height:200px;border-right: 1px solid #fff; margin-left: 0px}
.ft_1 ul.u4{margin-left: 40px;}
.footer_zn .ft_1 ul li a{color:#fff;font-size: 16px;}
.footer_zn .ft_1 ul li:hover a{text-decoration: underline;}
.footer_zn .ft_1 ul li.rwm{margin-top:10px;}
.footer_zn .ft_1 ul li.rl{font-size:16px;text-align: left;}
.footer_zn .ft_1 ul li.tel{line-height:40px;font-size:36px;text-align: left;font-weight: bold;text-indent: 40px;background:url(../bg/png_32.png)no-repeat 0px 3px;margin-top: 10px;}
.footer_zn .ft_1 ul li.lx{height:54px;margin-top: 15px;position: relative;}
.footer_zn .ft_1 ul li.lx a{display: block;width:54px;height:54px;float: left;margin-right:15px;}
.footer_zn .ft_1 ul li.lx a.qq{background:url(../bg/png_31.png)no-repeat ;}
.footer_zn .ft_1 ul li.lx a.wb{background:url(../bg/png_31.png)no-repeat -68px 0px ;}
.footer_zn .ft_1 ul li.lx a.wx{background:url(../bg/png_31.png)no-repeat -136px 0px;}
.footer_zn .ft_1 ul li.lx .rwm{width:100px;height:100px;position: absolute;top:0px;left:200px;display: none;}
.footer_zn .ft_1 ul li.lx .rwm img{width:100%;}
.footer_zn .ft_1 ul li.lx a.wx:hover .rwm{display: block;}
.footer_zn .ft_2{line-height: 30px;text-align: center;font-size:18px;color:#fff ;background: #999;border-top: 1px solid #fff;padding: 10px 0px;}
