html,body{min-width: 1200px;}
.header{height:100px;}
.header2{height:88px;}
.header .logo{width:280px;height:40px;position: absolute;left:0px;top:45px;}
.header2 .logo{top:12px;}
.header_top{width:550px;position: absolute;right:10px;top:5px;overflow: hidden;}
.header_top ul{float: left;}
.header_top ul li{float:left;margin-right: 10px;line-height:32px;}
.header_top ul li a{font-size:12px;color:#333333;}
.header_top ul li i{display:inline-block;width:14px;height:12px;}
.header_top ul li.li1 i{background: url(../bg/png_001.png)no-repeat;}
.header_top ul li.li2 i{background: url(../bg/png_002.png)no-repeat;}
.header_top ul li.li3 i{background: url(../bg/png_003.png)no-repeat;}
.header_top .search{width:238px;height:32px;position: relative;float: right;margin-right: 5px;margin-top: 3px;}
.header_top .search .sch{width:238px;height:26px;line-height:26px;font-size:14px;color:#999999;border-radius: 16px 16px;border:1px solid #999;text-indent: 16px;}
.header_top .search .sub{width: 32px;height: 20px;background: url(../bg/png_004.png)no-repeat;position: absolute;right: 0px;top:6px;cursor: pointer;}
.header_top2{width: 400px;}
.header_top2 .search{float: left;margin-top: 4px;}
.header_top2 .tel{width:120px;float: right;border-left: 4px solid #dddbdb;padding-left: 15px;font-size: 14px;line-height:20px;color: #333;}


.header_nav{position: absolute;right:15px;top:50px;}
.header2 .header_nav{top:27px;right:100px;}
.header_nav ul li{height:34px;line-height:34px;font-size: 16px;float: left;padding: 0px 4px;margin: 0px 8px;}
.header_nav ul li a{color: #333333;}
.header_nav ul li.hover,.header_nav ul li:hover{border-bottom: 4px solid #ce091d;}
.header_nav ul li.hover a,.header_nav ul li:hover a{color:#ce091d;}
.header2 .header_nav ul li.hover,.header2 .header_nav ul li:hover{border-bottom:none;}
.header2 .header_nav ul li.hover a,.header2 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom:none;}
.header3 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li{margin: 0px 20px;}
.header4 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom: 4px solid #702e48;}
.header4 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#702e48;}
.header4 .header_nav ul li{margin: 0px 20px;}



.banner{width:100%;max-width: 1920px;display: block;margin: 0 auto;min-width: 1200px;}
.banner img{width: 100%;display: block;}
.banner .page1 .swiper-pagination-bullet{background:#FFFFFF;}
.banner .page1 .swiper-pagination-bullet-active{background:#ce091d;}

.title{color:#333;text-align: center;}
.title h3{line-height:42px;font-size:36px;}
.title h4{line-height:24px;font-size:18px;font-family:Arial;}

.title2{color:#333;text-align: center;}
.title2 h3{line-height:42px;font-size:30px;}
.title2 h4{line-height:24px;font-size:24px;font-family:Arial;}

.title3{color:#333;text-align: center;margin: 30px auto;}
.title3 h3{line-height:60px;font-size:48px;font-family:Arial;color: #f3f3f3}
.title3 h4{line-height:44px;font-size:36px;}

.lm_tt{line-height: 30px;font-size:24px;text-align: center;color:#e60039;font-weight: bold;}


.products{margin-top: 50px;}
.products ul.pro_tt{text-align: center;margin-top: 10px;}
.products ul.pro_tt li{display: inline-block;height: 42px;line-height:42px;font-size:24px;color:333333;margin: 0px 35px;cursor: pointer;}
.products ul.pro_tt li.hover{border-top: 4px solid #ce091d;color:#ce091d;}
.products ul.pro_list li{overflow: hidden;padding:50px 0px 30px 0px;display: none;}
.products ul.pro_list li a.more{display: inline-block;float: right;font-size: 14px;color:#999;}
.products ul.pro_list li .left_list{width:600px;float: left;}
.products ul.pro_list li .left_list h3{line-height:60px;font-size:30px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list h4{line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list p{height:128px;line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .right_list{width:600px;float: right;text-align: center;}
.products ul.pro_list li .right_list img{max-width:600px;}

.join{margin-top: 50px;}
.join .bt{line-height:50px;font-size:24px;color:#333;}
.join ul{}
.join ul li{width:246px;height:216px;float: left;margin-left:72px;}
.join ul li:nth-child(1){margin-left: 0px;}
.join ul li .img{width:246px;height:160px;overflow: hidden;}
.join ul li .img img{width:100%;transition:all linear .3s}
.join ul li:hover img{transform:scale(1.05)}
.join ul li h3{line-height:56px ;font-size:18px;color:#333;text-align: center;}
.join ul li:hover h3{color:#ce091d;}

.news{margin-top: 50px;}
.news_left{width:480px;float: left;margin-top:30px ;transition:all linear .3s}
.news_left:hover{box-shadow:inset 0px 0px 5px #999;}
.news_left img{width:480px;height:400px;}
.news_left .wz{padding: 5px 10px 20px;overflow:hidden ;}
.news_left h3,.news_right h3{line-height:50px ;font-size:20px;color:#333;font-weight: bold;}
.news_left p,.news_right p{height:72px;line-height:24px ;font-size:16px;color:#333;overflow: hidden;}
.news_left span,.news_right span{font-size:16px;color:#999;float: right;margin-top: 10px;}
.news_right{width:690px;float: right;margin-top:30px ;}
.news_right ul{}
.news_right ul li{padding:20px;overflow: hidden;border-top:1px solid #c4c4c4;transition:all linear .3s}
.news_right ul li:nth-child(1){border: none;}
.news_right ul li img{width:185px;height:159px;float: right;}
.news_right h3,.news_right p{width:440px;}
.news_right span{margin-right: 30px;}
.news_right ul li:hover{box-shadow:inset 0px 0px 5px #999;}
.xian{height:30px;border-bottom: 1px solid #ececec;margin-top: 20px;}

.success{padding: 50px 0px;background: url(../bg/png_005.png)repeat;}
.success ul{}
.success ul li{width:380px;height:345px;float:left;border:1px solid #c4c4c4;margin-left: 18px;margin-top: 20px;transition:all linear .3s}
.success ul li:nth-child(3n+1){margin-left: 0px;}
.success ul li .img,.success ul li .img img{width:380px;display: block;}
.success ul li .wz{overflow: hidden;padding: 10px 10px 10px;}
.success ul li .wz h3{height:30px;line-height:32px ;color:#333;font-size:16px;overflow: hidden;margin-bottom: 10px;}
.success ul li .wz i,.success ul li .wz span{font-size:14px;color:#999;}
.success ul li .wz span{float: right;}
.success ul li:hover{box-shadow:inset 0px 0px 5px #999;transform: translateY(-10px);}


.current{line-height:20px;font-size:14px;color:#333;margin-top: 10px;margin-bottom:20px;}
.current a{display: inline-block;color:#333;}


.contact{}
.contact h3{line-height: 40px;font-size:24px;color:#666;text-align: center;}
.contact h3 span{font-size:30px;font-weight: bold;}
.contact ul{padding-top: 100px;}
.contact ul li{width:336px;height:376px;padding: 10px;border:2px solid #333;float:left;margin: 0px 20px;position: relative;}
.contact ul li .img{width:140px;height:140px;padding: 8px;background: #fafafa;border: 2px solid #333;border-radius: 50%;position: absolute;left:100px;top:-80px;}
.contact ul li h4{line-height: 40px;font-size:24px;color:#333;text-align: center;margin-top: 100px;margin-bottom: 20px;}
.contact ul li p{line-height: 30px;font-size:16px;color:#333;padding: 0px 10px;}


.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

.luxian{padding: 30px 0px;border-top:2px solid #333;}
.luxian .lx_lt{width:600px;float: left;}
.luxian .lx_lt p{line-height: 26px;font-size:16px;color:#333;margin-bottom: 20px;}
.luxian .lx_rt{width:400px;float: right;}

.smart{margin-top: 10px;}
.sm_left{width:810px;height:405px;float: left;overflow: hidden;}
.sm_left img{width: 100%;}
.sm_right{width:378px;height:405px;float: right;overflow: hidden;}
.sm_right a{display: block;width:378px;height: 197px;overflow: hidden;}
.sm_right a:nth-child(2){margin-top: 12px;}
.sm_right img{width: 100%;}

.smart2{width: 100%;margin-top: 40px;}
.smart2 img{width:100%;max-width: 1920px;display: block;margin: 0 auto;}

.smart3{margin-top: 28px;}
.smart3 ul{}
.smart3 ul li{width:594px;height:405px;float:left;margin-left: 12px;margin-top: 12px;}
.smart3 ul li:nth-child(2n+1){margin-left: 0px;}
.smart3 ul li img{width:100%;}


.survey_bg{background: #cacaca;}
.survey_bg .current{margin-top: 0px;padding-top: 20px;color: #fff;}
.survey_bg .current a{color:#fff;}
.survey{color: #fff;text-align: center;}
.survey h3{display: inline-block; line-height:50px;font-size: 30px;border-bottom: 4px solid #fff;}
.survey h3 span{font-size:36px;font-weight: bold;}
.survey h4{line-height:40px;font-size:30px;margin-bottom: 20px;}
.survey p{line-height:26px;font-size:18px;margin-bottom: 40px;}
.survey_sjbg{height:74px;background: url(../bg/png_51.png) no-repeat center;}

.course{}
.course .bt_bg{height:105px;background: url(../bg/png_33.png) no-repeat center;}
.course ul{}
.course ul li{float: left;width:72px;line-height:24px;font-size:18px;color:#333;margin: 0 auto;  height: 350px;  writing-mode: vertical-rl; writing-mode: tb-rl;margin-right: 63px;margin-top: 20px;}



.honor{margin-top: 40px;margin-bottom: 50px;text-align: center;}
.honor h3{display: inline-block; line-height:50px;font-size: 30px;border-bottom: 4px solid #fff;}
.honor h3 span{font-size:36px;font-weight: bold;}
.honor p{line-height:26px;font-size:18px;margin-bottom: 40px;}
.honor ul{}
.honor ul li{width:282px;height:192px;float:left;margin-left: 24px;}
.honor ul li:nth-child(4n+1){margin-left: 0px;}


.tese{margin-top: 30px;}
.tese .tes_bt{width:296px;height:98px;border:2px solid #f3797d ;margin: 0 auto;position: relative;text-align: center;}
.tese .tes_bt h3{display: inline-block; line-height:44px;font-size: 30px;color:#333;padding:0px 20px;border-bottom: 2px solid #f3797d;margin-top: 8px;}
.tese .tes_bt h4{display: inline-block; line-height:44px;font-size: 18px;color:#333;}
.tese .tes_bt span{display: block;width:150px;height:4px;background: #fff;position: absolute;right:-2px;top:-2px;}
.tese .tes_bt i{display: block;width:4px;height:45px;background: #fff;position: absolute;right:-2px;top:-2px;}
.tese ul{padding: 30px 0px;}
.tese ul li{width:240px;height:300px;background:#868686 ;position: relative;float: left;margin: 0px 10px;color: #fff;padding: 20px;}
.tese ul li h3{line-height:40px ;font-size:24px;text-align: center;margin-top: 10px;}
.tese ul li span{display: block;width:60px;height:2px;background: #702e48;margin: 30px auto 40px;}
.tese ul li p{line-height:26px ;font-size:16px;}
.tese ul li i{display: block;width:0px;height:0px;border-left:16px solid transparent;border-right:16px solid #702e48;border-top:16px solid transparent;border-bottom:16px solid #702e48;position: absolute;bottom: -2px;right: -2px;}
.tese ul li:hover{background:#dadada ;}
.tese ul li:hover span{background:#e60039;}
.tese ul li:hover i{border-left:16px solid transparent;border-right:16px solid #e60039;border-top:16px solid transparent;border-bottom:16px solid #e60039;}

.team_bg{height:200px;background: #cacaca;color:#fff;text-align: center;}
.team_bg h3{line-height: 92px;font-size:36px;font-weight: bold;border-bottom: 3px solid #fff;}
.team_bg h4{width:200px;line-height: 30px;font-size:30px;padding-bottom:30px;border-bottom: 2px solid #fff;background: #cacaca;position: absolute;left:500px;top:80px;}
.team_bg p{line-height: 32px;font-size:24px;margin-top: 60px;}

.team{}
.team ul{margin: 30px 0px;}
.team ul li{width:600px;height: 264px;float: left;overflow: hidden;}
.team ul li .img{width:300px;height:264px;float: left;}
.team ul li .img img{width:300px;height:264px;}
.team ul li .wz{width:270px;height:274px;padding:15px;float: right;background: #868686;color: #fff;}
.team ul li:nth-child(3) .img,.team ul li:nth-child(4) .img{float: right;}
.team ul li:nth-child(3) .wz,.team ul li:nth-child(4) .wz{float: left;}
.team ul li .wz h3{line-height: 40px;font-size:24px;text-align: center;margin: 10px 0px;}
.team ul li .wz p{line-height: 26px;font-size:16px;}
.team ul li:hover .wz{background: #e60039;}

.ab_cs{color:#333;text-align: center;}
.ab_cs h3{line-height: 92px;font-size:36px;font-weight: bold;border-bottom: 3px solid #999;}
.ab_cs h4{width:260px;line-height: 40px;font-size:30px;padding-bottom:30px;border-bottom: 2px solid #999;background: #fff;position: absolute;left:470px;top:70px;}
.ab_cs h4 span{font-size:36px;font-weight: bold;}
.ab_cs p{line-height: 32px;font-size:24px;margin-top: 60px;}
.ab_cs .cs_list{margin-top: 40px;position: relative;height:600px;}
.ab_cs .cs_list li{width:196px;height:196px;border: 2px solid #702e48;position: relative;position: absolute;}
.ab_cs .cs_list li .img{width:196px;height:196px;overflow: hidden;}
.ab_cs .cs_list li img{width:100%;transition:all linear .3s}
.ab_cs .cs_list li:hover img{transform: scale(1.1);}
.ab_cs .cs_list li.cs_list_1{border-right: none;left:103px;top:0px;}
.ab_cs .cs_list li.cs_list_2{border-right: none;left:301px;top:0px;}
.ab_cs .cs_list li.cs_list_3{left:499px;top:0px;}
.ab_cs .cs_list li.cs_list_4{left:895px;top:0px;}
.ab_cs .cs_list li.cs_list_5{left:499px;top:200px;;border-top: none;border-right: none;}
.ab_cs .cs_list li.cs_list_6{left:697px;top:198px;}
.ab_cs .cs_list li.cs_list_7{left:301px;top:396px;}
.ab_cs .cs_list li.cs_list_8{left:499px;top:398px;border-top: none;}
.ab_cs .cs_list li.cs_list_9{left:895px;top:396px;}
.ab_cs .cs_list li.cs_list_2:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;right: 0px;bottom: -40px;}
.ab_cs .cs_list li.cs_list_3:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;right: -40px;bottom: 0px;}
.ab_cs .cs_list li.cs_list_2:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;right: 0px;bottom: -40px;}
.ab_cs .cs_list li.cs_list_4:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;left: -40px;bottom: 0px;}
.ab_cs .cs_list li.cs_list_5:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;left: -40px;bottom: 0px;}
.ab_cs .cs_list li.cs_list_6:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;right: -40px;top: 0px;}
.ab_cs .cs_list li.cs_list_7:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;right: -40px;top: 0px;}
.ab_cs .cs_list li.cs_list_9:before{content: "";width:38px;height:38px;background: #ec6941;position: absolute;left: 0px;top: -40px;}


.ab_cs .cs_tb{background: #cacaca;margin: 30px 0px;}
.ab_cs .cs_tb li{width:300px;float: left;text-align: center;color: #fff;}
.ab_cs .cs_tb li img{height: 80px;display: inline-block;margin: 15px 0px ;}
.ab_cs .cs_tb li h3{line-height: 42px;font-size:30px;border: none;}
.ab_cs .cs_tb li p{line-height: 26px;font-size:16px;margin-top: 0px;margin-bottom: 20px;}







.case{background: #fff;margin-top: 20px;}
.case ul{padding-top: 15px;margin-top: 20px;}
.case ul li{width:570px;height:200px;float: left;margin:20px 15px;background:#fafafa;position: relative;} 
.case ul li .img{width:164px;height:172px;box-shadow: 0px 0px 3px #999;position: absolute;left:30px;top:-30px;overflow: hidden;}
.case ul li img{width:164px;height:172px;transition:all linear .3s;}
.case ul li .wz{width:320px;height:170px;position: absolute;right:20px;top:15px;}
.case ul li .wz h3{height:30px;line-height:30px;font-size:18px;color:#333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.case ul li .wz i{display: block;width:26px;height:26px;background: url(../bg/png_41.png)no-repeat;float: right;margin-top: 20px;}
.case ul li .wz p{height:60px;line-height:20px;font-size:14px;color:#333;overflow: hidden;margin-top: 5px;}
.case ul li .wz h4{line-height:20px;font-size:14px;color:#333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.case ul li:hover img{transform: scale(1.1);}
.case ul li:hover h3{color:#ff0c17;};


.nweslist{}
.nweslist ul{}
.nweslist ul li{width:380px;height:;float:left;background: #dedddd;margin-left: 20px;margin-top: 30px;transition:all linear .3s}
.nweslist ul li:nth-child(3n+1){margin-left: 0px;}
.nweslist ul li .img{width:380px;height:260px;overflow: hidden;}
.nweslist ul li img{width:380px;height:260px;transition:all linear .3s}
.nweslist ul li h3{height:40px;line-height:40px ;font-size:18px;color:#333 ;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;padding: 0px 10px;font-weight: bold;transition:all linear .3s}
.nweslist ul li p{height:72px;line-height:24px ;font-size:14px;color:#333 ;overflow: hidden;padding: 0px 10px;}
.nweslist ul li .time{height:64px;line-height:64px;overflow: hidden;color:#333;background:#9c9c9c;margin-top: 14px;font-size:30px;padding: 0px 15px;}
.nweslist ul li .time i{display: block;width:46px;height:46px;background: url(../bg/png_42.png)no-repeat;transition:all linear .2s;float: right;margin-top: 8px;}
.nweslist ul li:hover img{transform:scale(1.1);}
.nweslist ul li:hover h3{color:#ce091d;;}
.nweslist ul li:hover .time i{background-position-y: -46px;}


.yijia{}
.yj_left{width:380px;float: left;}
.yj_left ul{width:378px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;}
.yj_left ul h3{line-height:50px;font-size:16px;color:#fff;text-align: center;background:#64a7d9 ;}
.yj_left ul li{height:66px;line-height:66px;font-size:18px;text-align: center;border-top:1px solid #64a7d9;}
.yj_left ul li a{display: block;height:100%;color:#333;}
.yj_left ul li:hover,.yj_left ul li.hover{background:#f3f3f3;}
.yj_left ul li:hover a,.yj_left ul li.hover a{background:url(../bg/png_27.png)no-repeat center;}
.yj_js{width:308px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;padding:35px;margin: 35px 0px;}
.yj_js p{line-height:32px;font-size:16px ;color: #333;}
.yj_right{width:780px;float: right;}
.yj_right ul li{width:780px;height:340px;overflow: hidden;margin-bottom: 20px;}
.yj_right ul li img{width:100%;}
.fixed{position: fixed;top:0px;}
.absolute{position: absolute;bottom:0px;}

.yjxq{}
.yjxq .img{width:500px;height:500px;overflow: hidden;float: left;text-align: center;border: 1px solid #333;line-height:500px;}
.yjxq img{display: inline-block; vertical-align: middle;}
.yjxq .wz{width:650px;height:500px;overflow: hidden;float: right;color:#333;}
.yjxq .wz h3{line-height:40px ;font-size:24px;}
.yjxq .wz h4{line-height:24px ;font-size:16px;margin: 20px 0px;}
.yjxq .wz p{line-height:32px ;font-size:18px;}

.yjcontent{margin-top: 20px;}
.yjcontent h3{height:60px;line-height:60px ;color:#333;font-size:24px;background: url(../bg/png_28.png) no-repeat 0px 59px;}

.container_image{width:1130px;height:630px;margin:0 auto;position:relative;}
.container_image .i_btn{display:block;width:40px;height:80px;position:absolute;top:225px;z-index:3;}
.container_image .prev_L{left:-54px;background-image:url(../bg/png_29.png);}
.container_image .next_R{right:-54px;background-image:url(../bg/png_30.png);}
.slide_img {margin-left:-394px;position:relative;z-index:1;}
.slide_img li{overflow:hidden;position:absolute;top:15px;background:#ffffff;}
.slide_img li a{display:block;position:relative;width:100%;height:100%;height:630px;}
.slide_img li a img{position:absolute;height:100%;}
.slide_img li .bg{width: 1100px;height:480px;padding-top:150px;position: absolute;left:0px;top:0px;background: rgba(0,0,0,.5);opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;display: block !important;}
.slide_img li:hover .bg{opacity: 1;-ms-opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.slide_img li .bg a{display:block;height:40px;line-height: 44px;font-size:24px;color:#fff;text-align: center;overflow: hidden;}
.slide_img li .bg a:hover{text-decoration:underline;}

.mc{}
.mc h3{line-height:60px ;font-size:30px;color:#333;margin-top: 20px;}
.mc ul{}
.mc ul li{width:380px;height:450px;float: left;margin: 20px 0px 30px 20px;}
.mc ul li:nth-child(3n+1){margin-left: 0px;} 
.mc ul li .img{width:380px;height:390px;overflow: hidden;} 
.mc ul li .img img{width:100%;transition:all linear .3s;}
.mc ul li h4{height:60px;line-height: 60px;font-size:30px;color:#fff ;text-align: center;background: #b8b8b8;overflow: hidden;}
.mc ul li:hover img{transform:scale(1.05);}

/*wrapper*/
#picSlideWrap{float:left;}
.imgnav{  position:relative;width:402px;}
#img{ z-index:10; width:402px; position:relative; text-align:center;overflow: hidden;}
#img img{width:400px; height:400px; display:none; border:1px solid #333;}
#front{ position:absolute; left:0px; top:0px; z-index:10; cursor:pointer;  width:200px; height:400px; }
#next{  position:absolute; right:0px; top:0px; z-index:10;cursor:pointer; width:200px; height:400px;}

#cbtn{ position:relative; height:80px; border:1px solid #D6D9DC; margin-top:5px;padding: 0px 23px;overflow: hidden;}
#cbtn ul{position:relative; width:10000px; height:80px;}
#cbtn ul li{ float:left; width:70px; height:70px; cursor:pointer; text-align:center; margin:0px 0px; position:relative;}
#cbtn ul li img{ width:70px; height:70px; display:block;}
#cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:10px; line-height:16px; padding:0 5px;}
#cbtn li.hov{border: 1px solid #333;}
.ctrl div{ clear:both;}
#cSlideUl{ height:80px;overflow:hidden; position:relative;}
.picSildeLeft{cursor:pointer; position:absolute; top:6px; left:0px; z-index:9;}
.picSildeRight{cursor:pointer; position:absolute; top:6px; right:0px; z-index:9;}

.mc_rt{width:750px;float: right;color: #333;}
.mc_rt h3{line-height:50px;font-size:30px;}
.mc_rt p{line-height:32px;font-size:18px;}

.mc_ct{margin-top: 30px;}
.mc_ct .ct_lt{width:400px;float: left;}
.mc_ct .ct_rt{width:750px;float: right;color: #333;}
.mc_ct .ct_rt h3{line-height:50px;font-size:30px;text-align: left;}
.mc_ct .ct_rt p{line-height:32px;font-size:18px;text-indent: 0;}

.hanger{}
.hanger .hglist{width:1000px;height:114px;position: relative;overflow: hidden;margin-left: 100px;}
.hanger .hglist ul{width:20000em;position:absolute;}
.hanger .hglist ul li{width:200px;height:114px;float: left;}
.hanger .hglist ul li .img{width:200px;height:66px;overflow: hidden;text-align: center;}
.hanger .hglist ul li .img img{display: inline-block;}
.hanger .hglist ul li h3{line-height: 48px;font-size:18px;color:#333;text-align: center;}
.hanger .hglist ul li:hover h3,.hanger .hglist ul li.hover h3{color:#702e48;}
.hanger .prev{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat;position: absolute;left:50px;top:43px;}
.hanger .next{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat -28px 0px ;position: absolute;right:50px;top:43px;}
.hanger .prev:hover{background: url(../bg/png_19.png)no-repeat 0px -48px;}
.hanger .next:hover{background: url(../bg/png_19.png)no-repeat -28px -48px;}

.hangerlist{margin-bottom: 30px;}
.hangerlist ul{}
.hangerlist ul li{width:380px;height:280px;float: left;border-radius: 10px;overflow: hidden;transition:all linear .3s;margin:0px 10px;margin-top: 45px;position: relative;}
.hangerlist ul li img{width:380px;height:280px;display: block;}
.hangerlist ul li h3{width:100%;height:50px;line-height: 50px;font-size:18px;color:#fff;background:#e60039;text-align: center;position: absolute;left:0px;bottom: 0px;display: none;}
.hangerlist ul li:hover{transform: translateY(-15px);box-shadow: 0px 0px 8px #000;}
.hangerlist ul li:hover h3{display: block;}


.hgxq{}
.hgxq img{width:460px;height:360px;overflow: hidden;float: left;}
.hgxq .wz{width:690px;height:360px;overflow: hidden;float: right;}
.hgxq .wz p{line-height:40px ;font-size:24px;color:#333;}
.hgxq .wz p i{font-size:30px;color: #ce091d;font-weight: bold;}
.hgxq .wz .zx{display: block;width:170px;height:54px;background: url(../bg/png_20.png)no-repeat;margin: 10px auto;}
.hgcontent{margin-top: 20px;}
.hgcontent h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}



.groom{margin-bottom: 40px;}
.groom_left{width:380px;height:270px;float: left;background: #fafafa;}
.groom h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}
.groom_left p{line-height:32px;font-size:16px ;color: #333;padding-left: 20px;}
.groom_right{width:790px;height:270px;float: right;background: #fafafa;}
.groom_right ul{}
.groom_right ul li{width:350px;height:32px;line-height:32px;float: left;overflow: hidden;margin-left: 20px;font-size:16px ;}
.groom_right ul li a{color:#777;}
.groom_right ul li p{display:inline-block;width:220px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.groom_right ul li span{display: block;float: right;}
.groom_right ul li i{display: block;float: left;margin-right: 5px;}
.groom_right ul li:hover a{color:#333;}

.strength{padding-top: 20px;}
.strength ul{margin-top: 20px;}
.strength ul li{width:380px;height:320px;float: left;position: relative;margin: 0px 10px;} 
.strength ul li img{width:380px;}
.strength ul li h3{width:380px;height:70px;line-height:70px;font-size:24px;color:#a39964;text-align: center;overflow: hidden;}
.strength ul li p{width:340px;height:180px;position: absolute;left: 0px;top: 0px;z-index: 999;line-height:32px;font-size:16px;color:#fff;display:table-cell;vertical-align:middle;background:rgba(249,137,4,.65);-moz-background:rgba(249,137,4,.65);-ms-background:rgba(249,137,4,.65);-webkit-background:rgba(249,137,4,.65);padding: 70px 20px;opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;}
.strength ul li:hover h3{position: absolute;left: 0px;bottom: 0px;z-index: 9999;color:#fff;text-align: center;}
.strength ul li:hover p{opacity: 1;-ms-opacity:1;}

.advantage_bg{border-bottom:2px solid #e60039;margin: 20px 0px;}
.advantage{margin-top: 25px;}
.advantage .adv_img{width:300px;height:300px;overflow: hidden;float: left;margin-left: 20px;}
.advantage .adv_img img{width:300px;height:300px;}
.advantage .adv_wz{width:850px;overflow: hidden;float: right;}
.advantage .adv_wz p{line-height:28px ;font-size:16px ;color:#333;text-indent: 2em;margin-top: 30px;}
.advantage .adv_o {line-height:28px ;font-size:16px ;color:#333;text-indent: 2em;padding: 30px 20px 0px;background: url(../bg/png_43.png)no-repeat 25px 35px;clear: both;}
.advantage ul{margin-top: 20px;}
.advantage ul li{width:400px;height:124px;float:left;text-align: center;position: relative;bottom: -2px;}
.advantage ul li h3{line-height: 30px;font-size:18px;color:#e60039;font-weight: bold;}
.advantage ul li img{display: inline-block;}
.advantage ul li span{display:block;width:30px;height:30px;line-height: 30px;text-align: center;font-size:18px;color:#333;font-weight: bold;position: absolute;left:185px;top:60px;}






.requirement{margin-top: 40px;}
.requirement .rq_lt {width:500px;height:380px;float: left;overflow:hidden;margin-top: 40px;}
.requirement .rq_lt img{width:500px;height:380px;}
.requirement .rq_rt {width:676px;height:380px;float: right;overflow:hidden;margin-top: 40px;}
.requirement .rq_rt h3{height:30px ;line-height: 30px;background: url(../bg/png_45.png)no-repeat;color: #fff;font-size:18px;text-indent: 20px;margin: 10px 0px;}
.requirement .rq_rt p{height:36px ;line-height: 36px;font-size:14px;color:#333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.requirement .rq_rt p span{display: inline-block;width:120px;padding-left:40px;font-size:18px;}



.process{margin-top: 60px;margin-bottom: 40px;}
.process ul{margin: 30px 0px;}
.process ul li{width:200px;height:600px;float: left;margin: 0px 20px;text-align: center;position: relative;}
.process ul li .pr_tb{width:80px;height:80px;display:inline-block ;}
.process ul li.pr_1 .pr_tb{background: url(../bg/png_46.png)no-repeat;}
.process ul li.pr_2 .pr_tb{background: url(../bg/png_47.png)no-repeat;}
.process ul li.pr_3 .pr_tb{background: url(../bg/png_48.png)no-repeat;}
.process ul li.pr_4 .pr_tb{background: url(../bg/png_47.png)no-repeat;}
.process ul li.pr_5 .pr_tb{background: url(../bg/png_49.png)no-repeat;}
.process ul li .pr_ct{width:190px;height:190px;padding: 10px;background: #e60039;box-shadow: 0px 0px 4px #666;margin-top: 10px;}
.process ul li .pr_ct h4{line-height:30px ;font-size:20px;color:#fff;}
.process ul li .pr_ct p{line-height:22px ;font-size:14px;color:#fff;margin-top: 20px;}
.process ul li.pr_2 .pr_ct,.process ul li.pr_4 .pr_ct{margin-top: 280px;}
.process ul li.pr_2::before,.process ul li.pr_4::before{content: "";width:2px;height:250px;background: #702e48;position: absolute;left:99px;top:90px;}





.franchise_bg{padding: 30px 0px;margin-bottom: 30px;}
.franchise .fr_lt{width:600px;float: left;margin-top: 20px;}
.franchise .fr_lt .wz {overflow: hidden;margin-top: 20px;}
.franchise .fr_lt .wz h3{width:100px;padding-right: 50px;height:120px;line-height: 120px;font-size:18px;color:#e60039;text-align: center;font-weight: bold;background: url(../bg/png_50.png)no-repeat 100px 0px;float: left;text-align: right;}
.franchise .fr_lt .wz .rt{width:450px;height:120px;float: right;}
.franchise .fr_lt .wz .rt p{line-height: 40px;font-size:16px;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

.franchise .fr_rt{float: right;margin-top: 20px;}
.franchise .fr_rt h3{line-height:32px ;font-size:18px ;color:#e60039;font-weight: bold;}
.franchise .fr_rt ul li{position: relative;margin-right: 20px;margin-top: 10px;}
.franchise .fr_rt ul li span{display: block;width:80px;height:44px;line-height: 44px;font-size:20px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.franchise .fr_rt ul li i{display: block;width:130px;height:44px;line-height: 44px;font-size:20px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.franchise .fr_rt ul li input{width: 500px;height: 44px;line-height: 44px;color:#333;font-size:20px;border: 1px solid #333;text-indent: 80px;}
.franchise .fr_rt ul li textarea{width:500px;height:132px;line-height:44px;font-size:20px;border: 1px solid #333;text-indent: 120px;color:#333;}
.franchise .fr_rt ul li input.sub{width: 144px;height:44px;line-height: 44px;color: #fff;text-align:center;font-size: 24px;background: #bfbfbf;border:none;border-radius: 10px 10px;text-indent: 0px;cursor: pointer;}



.content{padding: 20px 10px;}
.content h3{line-height:60px ;font-size:30px;color:#333;text-align: center;}
.content p{line-height:32px ;font-size:18px;color:#333;text-indent: 2em;}
.content p img{margin:10px auto;max-width: 1200px;display: block;}


.showpage{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage form{display: inline-block;}
.showpage p{display: inline-block;margin: 0px 10px;}
.showpage a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage a:hover,.showpage a.hover{border:1px solid #d03241;color:#d03241;}
.showpage .sub{width:58px;height:38px;border:2px solid #b31524;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}

.showpage_zns a,.showpage_zns .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #showpage;color:#showpage;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage_zns a:hover,.showpage_zns a.hover{border:1px solid #702e48;color:#702e48;}
.showpage_zns .sub{width:58px;height:38px;border:2px solid #702e48;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}


.showpage2{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage2 a{display: inline-block; font-size: 18px;color:#333;height:30px;line-height: 30px;}
.showpage2 a.prev{float: left;}
.showpage2 a.next{float: right;}
.showpage2 a.list i{display:inline-block;width:20px;height:20px;background: url(../bg/png_017.png)no-repeat;float: left;margin-top: 5px;margin-right: 5px;}
.showpage2 a:hover{color:#d03241;}
.showpage2 a:hover i{background: url(../bg/png_018.png)no-repeat;}

.showpage2_zns a:hover{color:#702e48;}


.footer_zn{height:305px;min-width: 1200px;}
.footer_zn .ft_1{height:235px;background:#cacaca;}
.footer_zn .ft_1 ul{float: left;margin-left: 80px;margin-top: 20px;}
.footer_zn .ft_1 ul li{line-height:28px ;font-size:20px;color:#fff;text-align: center;}
.ft_1 ul.u2{width:350px;border-left:1px solid #fff;padding:0px 40px;height:200px;margin-left:40px;}
.ft_1 ul.u2 h3{line-height: 40px;font-size:20px;color: #fff;}
.ft_1 ul.u2 p{line-height: 24px;font-size:16px;color: #fff;}
.ft_1 ul.u3{width:120px;padding:0px 30px;border-left:1px solid #fff;height:200px;border-right: 1px solid #fff; margin-left: 0px}
.ft_1 ul.u4{margin-left: 40px;}
.footer_zn .ft_1 ul li a{color:#fff;font-size: 16px;}
.footer_zn .ft_1 ul li:hover a{text-decoration: underline;}
.footer_zn .ft_1 ul li.rwm{margin-top:10px;}
.footer_zn .ft_1 ul li.rl{font-size:16px;text-align: left;}
.footer_zn .ft_1 ul li.tel{line-height:40px;font-size:36px;text-align: left;font-weight: bold;text-indent: 40px;background:url(../bg/png_32.png)no-repeat 0px 3px;margin-top: 10px;}
.footer_zn .ft_1 ul li.lx{height:54px;margin-top: 15px;position: relative;}
.footer_zn .ft_1 ul li.lx a{display: block;width:54px;height:54px;float: left;margin-right:15px;}
.footer_zn .ft_1 ul li.lx a.qq{background:url(../bg/png_31.png)no-repeat ;}
.footer_zn .ft_1 ul li.lx a.wb{background:url(../bg/png_31.png)no-repeat -68px 0px ;}
.footer_zn .ft_1 ul li.lx a.wx{background:url(../bg/png_31.png)no-repeat -136px 0px;}
.footer_zn .ft_1 ul li.lx .rwm{width:100px;height:100px;position: absolute;top:0px;left:200px;display: none;}
.footer_zn .ft_1 ul li.lx .rwm img{width:100%;}
.footer_zn .ft_1 ul li.lx a.wx:hover .rwm{display: block;}
.footer_zn .ft_2{line-height: 30px;text-align: center;font-size:18px;color:#fff ;background: #999;border-top: 1px solid #fff;padding: 10px 0px;}
