{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="id" class="layui-form-label">
                        ID
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="id" name="id" required="" lay-verify="required"
                        autocomplete="off"  value="{$data.id}" disabled="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="cate_name" class="layui-form-label">
                        <span class="x-red">*</span>栏目名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" value="{$data.title}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="cate_name" class="layui-form-label">
                        <span class="x-red">*</span>网站名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title_name" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" value="{$data.title_name}" style="width: 570px;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="cate_name" class="layui-form-label">
                        <span class="x-red">*</span>网站关键词
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="keywords" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" value="{$data.keywords}" style="width: 570px;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="cate_name" class="layui-form-label">
                        <span class="x-red">*</span>网站描述
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="description" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" value="{$data.description}" style="width: 570px;">
                    </div>
                </div>

                <!--添加一个排序字段-->
                
                <div class="layui-form-item">
                    <label for="" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="" >
                        保存
                    </button>
                </div>
            </form>
        </div>
        {include file='public/base_js' /}
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            

              //监听提交
              form.on('submit(save)', function(data){
                console.log(data);
                //发异步，把数据提交给php

                  $.post("{:url('update')}", data.field, function (res) {
                      if (res.status == 1) {
                          layer.alert(res.message, {icon: 6},function () {
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                          });


                      }else {

                          layer.alert(res.message, {icon: 6},function () {
                              // 获得frame索引
                              var index = parent.layer.getFrameIndex(window.name);
                              //关闭当前frame
                              parent.layer.close(index);
                          });

                      }
                  });

                return false;
              });
              
              
            });
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>

</html>