<!--footer-->
<div class="footer_zn">
			<div class="ft_1">
			<div class="wrap clear ">
				<ul>
					<li>联系我们</li>
					<li class="rwm">
						<img src="__STATIC__/index/theme/bg/ewm.jpg" />
					</li>
				</ul>
				
				<ul class="u2">
					<h3>为什么要加入红杏</h3>
					<p>物联网飞速发展，红杏审时度势、顺势而为。红杏立足客户，科技为本，创新超越，完美打造，红杏会尽可能帮助创造财富。</p>
				</ul>
				<ul class="u3">
					<li>人才招聘</li>
					<li><a href="">项目经理</a></li>
					<li><a href="">高级技工</a></li>
					<li><a href="">平面设计师</a></li>
				</ul>
				
				<ul class="u4">
					<li class="rl">24小时全国服务热线</li>
					<li class="tel">18674077799</li>
					<li class="lx">
						<a class="qq" href="#"></a>
						<a class="wb" href="#"></a>
						<a class="wx" href="#"><div class="rwm"><img src="__STATIC__/index/theme/bg/ewm.jpg" /></div></a>
						
					</li>
				</ul>
				
			</div>
			</div>
			
			<div class="ft_2">
				<p>公司地址：湖北省武汉市江岸区三金潭工业园特3号</p>
				<p>武汉红杏智能科技有限公司 Copyright @ 2004-2018 www.hongxingzn.com All Rights Reserved</p>
			</div>
			<div class="ft_3" style="line-height: 30px;font-size: 18px;color: #fff;background: #cacaca;border-top: 1px solid #fff;padding: 10px 0px;">
				<p>友情链接：</p>
				{volist name="link" id="vo"}
				<a href="http://{$vo.link}" style="color:#fff" target = "_blank">{$vo.title}</a>
				{/volist}
				<!-- <p><a href="">www.baidu.com</a></p><p><a href="">www.baidu.com</a></p> -->
			</div>
		</div>
		<!--footer-->
<script>
	var _hmt = _hmt || [];
	(function() {
	var hm = document.createElement("script");
	hm.src = "https://hm.baidu.com/hm.js?25da2312a088ce9b5974fa480f2721f3";
	var s = document.getElementsByTagName("script")[0]; 
	s.parentNode.insertBefore(hm, s);
	})();
</script>