<!--header-->
		<div class="header wrap">
			<div class="logo">
				<a href="{:url('Index/index')}"><img src="__STATIC__/index/theme/bg/logo.png"/></a>
			</div>
			<div class="header_top">
				<ul class="clear">
					<li class="li1"><a href="#"><i></i> 经销商登陆</a> </li>
					<li class="li2"><a href="#"><i></i> 微信服务号</a> </li>
					<li class="li3"><a href="#"><i></i> 官方商城</a> </li>
				</ul>
				<div class="search">
					<form method="get" action="{:url('Search/index')}">
						<input type="text" placeholder="" class="sch" name="keywords" />
						<input type="submit" value="" class="sub"/>
					</form>
				</div>		
			</div>
			
			<div class="header_nav">
				<ul class="clear">
					<li <?php if(isset($on)&&($on==1)){?> class="hover" <?php }?>><a href="{:url('Index/index')}" target = "_blank">{$column.0.title}</a></li>	
					<li  <?php if(isset($on)&&($on==2)){?> class="hover" <?php }?>><a href="{:url('Course/about')}" target = "_blank">{$column.1.title}</a></li>
					<li <?php if(isset($on)&&($on==3)){?> class="hover" <?php }?>><a href="{:url('Lyj/index')}?pid=1" target = "_blank">{$column.2.title}</a></li>
					<li <?php if(isset($on)&&($on==4)){?> class="hover" <?php }?>><a href="{:url('mcc/index')}?pid=1" target = "_blank">{$column.3.title}</a></li>
					<li <?php if(isset($on)&&($on==5)){?> class="hover" <?php }?>><a href="{:url('zns/index')}?pid=1" target = "_blank">{$column.4.title}</a></li>
					<li <?php if(isset($on)&&($on==6)){?> class="hover" <?php }?>><a href="{:url('Znjj/index')}?pid=1" target = "_blank">{$column.5.title}</a></li>
					<li <?php if(isset($on)&&($on==7)){?> class="hover" <?php }?>><a href="{:url('Gongc/project')}" target = "_blank">{$column.6.title}</a></li>
					<li <?php if(isset($on)&&($on==8)){?> class="hover" <?php }?>><a href="{:url('Pinpai/league')}" target = "_blank">{$column.7.title}</a></li>
					<li <?php if(isset($on)&&($on==9)){?> class="hover" <?php }?>><a href="{:url('Newsr/news')}" target = "_blank">{$column.8.title}</a></li>
					<li <?php if(isset($on)&&($on==10)){?> class="hover" <?php }?>><a href="{:url('Contact/contact')}" target = "_blank">{$column.9.title}</a></li>
				</ul>
				
			</div>
			
		</div>
		<!--header_end-->