.clear{ overflow:hidden; _height:1px; _overflow:visible;}

.clean{ font-size:0px; line-height:0px; clear:both;}

.none{ display:none;}

*{ margin:0; padding:0; -webkit-text-size-adjust:none;}

a{ text-decoration:none; outline:none; cursor:pointer; color:#858585;}

.begin a,.begin li,.begin span,html .begin,.begin s,.begin i,.begin h2,.begin h3,.begin p,.begin img,.begin div,.begin em{ transition:all 0.4s; -o-transition:all 0.4s; -webkit-transition:all 0.4s; -moz-transition:all 0.4s;}

.stop,.stop *{ transition:none; -o-transition:none; -webkit-transition:none; -moz-transition:none;}

* html,* html body{ background-image:url(about:blank); background-attachment:fixed; background:#fafafa;font-family:"microsoft yahei";}

a:hover,img{ border:none;}

a{-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
outline:none；}

a:hover{ color:#17550a;}

::selection{color:#fff; background:#e1b53e;}

::-moz-selection{color:#fff; background:#e1b53e;}

::-webkit-selection{color:#fff; background:#e1b53e;}

body,button,input,select,textarea{ font:12px Verdana, Geneva, sans-serif;font-family: "微软雅黑";}

textarea{ resize:none}

html{ overflow-x:hidden;}

h1,h2,h3,h4,h5,h6{ font-weight:normal;}

i,em,b{ font-style:normal;}

b{ font-weight:normal;}

ul,ol,dl{ list-style-type:none;}

.fl,.lifl li{ float:left; display:inline; list-style:none;}

.lifl li.fr{ float: right;}

.lifr li{ float:right; display:inline; list-style:none;}

.lifr li.fl{ float: left;}

.fr{ float:right; display:inline;}

.fmyh,h2.t,ul.mf input.t,ul.mf li{ font-family:Microsoft YaHei,LiHei Pro;}

.ttuc{ text-transform:uppercase;}

.scroll,.scroll2{ position:relative; overflow:hidden;}

.scroll ul{ position:absolute; width:20000em;}

.scroll2 ul{ position:absolute; height:200em;}

.scroll ul li{ float:left;}

a.red,.red{ color:#db3659}

input{ border:none; outline: 0; background:none;}

.wrap{width:1200px;margin: 0 auto;position: relative;}

/*input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #ffffff; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #ffffff; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #ffffff; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #ffffff; 
} */

select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../bg/png_44.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

						   
						   
