.history {
	overflow: hidden;
}

.history #year {
	position: relative;
}

.history #year div {
	width: 396px;
	overflow: hidden;
	user-select: none;
}

.history #year div ul {
	width: 9999999px;
	transition: all .3s ease-out;
}

.history #year div ul li {
	float: left;
	width: 396px;
	color: #464646;
	opacity: .1;
	text-align: center;
	height: 50px;
	line-height: 50px;
	cursor: default;
	transition: left .3s ease-out;
	font-size: 30px;
	color: #333;
}

.history #year div ul li.sibling {
	opacity: .3;
}

.history #year div ul li.cur {
	width: 166px;
	opacity: 1;
	color: #000;
	font-size: 50px;
}

.history #year div ul li.cur .icon-f2 {
	text-indent: -22px;
}

.history #year a {
	display: block;
	width: 14px;
	height: 26px;
	position: absolute;
	left: 205px;
	top: 10px;
	background-repeat: no-repeat;
	background-size: contain;
}

.history #year a.prev {
	background-image:url(../bg/png_011.png);
}

.history #year a.prev.cur {
	background-image: url(../bg/png_012.png);
}

.history #year a.next {
	left: auto;
	right: 205px;
	background-image: url(../bg/png_013.png);
}

.history #year a.next.cur {
	background-image: url(../bg/png_014.png);
}

.history #pic {
	position: relative;
	margin: 30px auto;
	width: 500px;
	height: 350px;
}

.history #pic ul {
	width: 9999999px;
	transition: all .3s ease-out;
	transform: translateZ(0);
}

.history #pic ul li {
	float: left;
	position: relative;
	width: 100px;
	height: 350px;
	transition: all .3s ease-out;
	transform-origin: 50% 50%;
}

.history #pic ul li img {
	position: absolute;
	left: -200px;
	width: 500px;
	height: 100%;
	transition: all .3s ease-out;
	opacity: 0;
	transform: scale(.3);
}

.history #pic ul li.sibling2 {
	z-index: 10;
}

.history #pic ul li.sibling2 img {
	display: block;
	opacity: .6;
	transform: scale(.6);
}

.history #pic ul li.sibling {
	z-index: 100;
}

.history #pic ul li.sibling img {
	display: block;
	opacity: .8;
	transform: scale(.8);
}

.history #pic ul li.cur {
	z-index: 200;
}

.history #pic ul li.cur img {
	display: block;
	opacity: 1;
	transform: scale(1);
}