html,body{min-width: 1200px;}
.header{height:100px;}
.header2{height:88px;}
.header .logo{width:280px;height:40px;position: absolute;left:0px;top:45px;}
.header2 .logo{top:12px;}
.header_top{width:550px;position: absolute;right:10px;top:5px;overflow: hidden;}
.header_top ul{float: left;}
.header_top ul li{float:left;margin-right: 10px;line-height:32px;}
.header_top ul li a{font-size:12px;color:#333333;}
.header_top ul li i{display:inline-block;width:14px;height:12px;}
.header_top ul li.li1 i{background: url(../bg/png_001.png)no-repeat;}
.header_top ul li.li2 i{background: url(../bg/png_002.png)no-repeat;}
.header_top ul li.li3 i{background: url(../bg/png_003.png)no-repeat;}
.header_top .search{width:238px;height:32px;position: relative;float: right;margin-right: 5px;margin-top: 3px;}
.header_top .search .sch{width:238px;height:26px;line-height:26px;font-size:14px;color:#999999;border-radius: 16px 16px;border:1px solid #999;text-indent: 16px;}
.header_top .search .sub{width: 32px;height: 20px;background: url(../bg/png_004.png)no-repeat;position: absolute;right: 0px;top:6px;cursor: pointer;}
.header_top2{width: 400px;}
.header_top2 .search{float: left;margin-top: 4px;}
.header_top2 .tel{width:120px;float: right;border-left: 4px solid #dddbdb;padding-left: 15px;font-size: 14px;line-height:20px;color: #333;}


.header_nav{position: absolute;right:15px;top:50px;}
.header2 .header_nav{top:27px;right:100px;}
.header_nav ul li{height:34px;line-height:34px;font-size: 16px;float: left;padding: 0px 4px;margin: 0px 8px;}
.header_nav ul li a{color: #333333;}
.header_nav ul li.hover,.header_nav ul li:hover{border-bottom: 4px solid #ce091d;}
.header_nav ul li.hover a,.header_nav ul li:hover a{color:#ce091d;}
.header2 .header_nav ul li.hover,.header2 .header_nav ul li:hover{border-bottom:none;}
.header2 .header_nav ul li.hover a,.header2 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom:none;}
.header3 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#b1a494;}
.header3 .header_nav ul li{margin: 0px 20px;}
.header4 .header_nav ul li.hover,.header3 .header_nav ul li:hover{border-bottom: 4px solid #702e48;}
.header4 .header_nav ul li.hover a,.header3 .header_nav ul li:hover a{color:#702e48;}
.header4 .header_nav ul li{margin: 0px 20px;}



.banner{width:100%;max-width: 1920px;display: block;margin: 0 auto;min-width: 1200px;}
.banner img{width: 100%;}
.banner .page1 .swiper-pagination-bullet{background:#FFFFFF;}
.banner .page1 .swiper-pagination-bullet-active{background:#ce091d;}

.title{color:#333;text-align: center;}
.title h3{line-height:42px;font-size:36px;}
.title h4{line-height:24px;font-size:18px;font-family:Arial;}

.title2{color:#333;text-align: center;}
.title2 h3{line-height:42px;font-size:24px;}
.title2 h4{line-height:24px;font-size:18px;font-family:Arial;}

.title3{color:#333;text-align: center;margin: 30px auto;}
.title3 h3{line-height:60px;font-size:36px;font-family:Arial;color: #f3f3f3}
.title3 h4{line-height:44px;font-size:30px;}


.products{margin-top: 50px;}
.products ul.pro_tt{text-align: center;margin-top: 10px;}
.products ul.pro_tt li{display: inline-block;height: 42px;line-height:42px;font-size:24px;color:333333;margin: 0px 35px;cursor: pointer;}
.products ul.pro_tt li.hover{border-top: 4px solid #ce091d;color:#ce091d;}
.products ul.pro_list li{overflow: hidden;padding:50px 0px 30px 0px;display: none;}
.products ul.pro_list li a.more{display: inline-block;float: right;font-size: 14px;color:#999;}
.products ul.pro_list li .left_list{width:600px;float: left;}
.products ul.pro_list li .left_list h3{line-height:60px;font-size:30px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list h4{line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .left_list p{height:128px;line-height:32px;font-size:16px;color:#333;text-indent: 30px;}
.products ul.pro_list li .right_list{width:600px;float: right;text-align: center;}
.products ul.pro_list li .right_list img{max-width:600px;}

.join{margin-top: 50px;}
.join .bt{line-height:50px;font-size:24px;color:#333;}
.join ul{}
.join ul li{width:246px;height:216px;float: left;margin-left:72px;}
.join ul li:nth-child(1){margin-left: 0px;}
.join ul li .img{width:246px;height:160px;overflow: hidden;}
.join ul li .img img{width:100%;transition:all linear .3s}
.join ul li:hover img{transform:scale(1.05)}
.join ul li h3{line-height:56px ;font-size:18px;color:#333;text-align: center;}
.join ul li:hover h3{color:#ce091d;}

.news{margin-top: 50px;}
.news_left{width:480px;float: left;margin-top:30px ;transition:all linear .3s}
.news_left:hover{box-shadow:inset 0px 0px 5px #999;}
.news_left img{width:480px;height:400px;}
.news_left .wz{padding: 5px 10px 20px;overflow:hidden ;}
.news_left h3,.news_right h3{line-height:50px ;font-size:20px;color:#333;font-weight: bold;}
.news_left p,.news_right p{height:72px;line-height:24px ;font-size:16px;color:#333;overflow: hidden;}
.news_left span,.news_right span{font-size:16px;color:#999;float: right;margin-top: 10px;}
.news_right{width:690px;float: right;margin-top:30px ;}
.news_right ul{}
.news_right ul li{padding:20px;overflow: hidden;border-top:1px solid #c4c4c4;transition:all linear .3s}
.news_right ul li:nth-child(1){border: none;}
.news_right ul li img{width:185px;height:159px;float: right;}
.news_right h3,.news_right p{width:440px;}
.news_right span{margin-right: 30px;}
.news_right ul li:hover{box-shadow:inset 0px 0px 5px #999;}
.xian{height:30px;border-bottom: 1px solid #ececec;margin-top: 20px;}

.success{padding: 50px 0px;background: url(../bg/png_005.png)repeat;}
.success ul{}
.success ul li{width:380px;height:345px;float:left;border:1px solid #c4c4c4;margin-left: 18px;margin-top: 20px;transition:all linear .3s}
.success ul li:nth-child(3n+1){margin-left: 0px;}
.success ul li .img,.success ul li .img img{width:380px;display: block;}
.success ul li .wz{overflow: hidden;padding: 10px 10px 10px;}
.success ul li .wz h3{height:30px;line-height:32px ;color:#333;font-size:16px;overflow: hidden;margin-bottom: 10px;}
.success ul li .wz i,.success ul li .wz span{font-size:14px;color:#999;}
.success ul li .wz span{float: right;}
.success ul li:hover{box-shadow:inset 0px 0px 5px #999;transform: translateY(-10px);}


.current{line-height:20px;font-size:14px;color:#333;margin-top: 10px;margin-bottom:20px;}
.current a{display: inline-block;color:#333;}


.contact{}
.contact_left{float: left;width:500px;margin-top: 20px;}
.contact_left h3{line-height:32px ;font-size:24px ;color:#333;text-align:center;}
.contact_left h3.hs{color:#a39964;}
.contact_left ul li{line-height:40px;font-size:20px;color:#333;padding-left: 60px;margin-top: 20px;}
.contact_left ul li i{display: block;width:51px;height:5px;background: url(../bg/png_010.png)no-repeat;}
.contact_left ul li.l1{background: url(../bg/png_006.png)no-repeat 0px 8px;margin-top: 15px;}
.contact_left ul li.l2{background: url(../bg/png_007.png)no-repeat 0px 8px;}
.contact_left ul li.l3{background: url(../bg/png_008.png)no-repeat 0px 8px;}
.contact_left ul li.l4{background: url(../bg/png_009.png)no-repeat 0px 8px;}

.contact_right{float: right;width:660px;margin-top: 20px;}
.contact_right h3{line-height:32px ;font-size:24px ;color:#333;}
.contact_right h3.hs{color:#a39964;}
.contact_right ul li{position: relative;margin-top: 20px;}
.contact_right ul li span{display: block;width:80px;height:48px;line-height: 48px;font-size:24px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.contact_right ul li i{display: block;width:130px;height:48px;line-height: 48px;font-size:24px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.contact_right ul li input{width: 658px;height: 48px;line-height: 48px;color:#333;font-size:24px;border: 1px solid #333;text-indent: 80px;}
.contact_right ul li textarea{width:658px;height:192px;line-height:48px;font-size:24px;border: 1px solid #333;text-indent: 130px;color:#333;}
.contact_right ul li input.sub{width: 148px;height:48px;line-height: 48px;color: #fff;text-align:center;font-size: 24px;background: #bfbfbf;border:none;border-radius: 10px 10px;text-indent: 0px;cursor: pointer;}

.contact2{margin-top: 100px;}
.contact2_left{float: left;width:380px;background: url(../bg/png_45.png)no-repeat 300px 0px;}
.contact2_left div{width:260px;height:444px;}
.contact2_left h3{line-height:32px ;font-size:24px ;color:#333;text-align:right;}
.contact2_left h4{line-height:26px ;font-size:20px ;color:#b1a494;text-align:right;text-transform: uppercase;}

.contact2_right{width:820px;float: right;overflow: hidden;}
.contact2_right div{overflow: hidden;height:444px;}
.contact2_right div .img{width:360px;float: left;}
.contact2_right div .wz{width:430px;float: right;line-height:40px ;font-size:20px;color:#333;}


.map_bd{height:490px;background: url(../images/p_087.jpg) no-repeat center;}
.map_bd .md_1{width:500px;float:left;margin-top: 30px;margin-left: 40px;}
.map_bd .md_1 h3{height:54px;background:url(../bg/png_46.png)no-repeat;margin-bottom: 10px;}
.map_bd .md_1 .BMap_omCtrl{display: none;} 
.map_bd{height:490px;background: url(../images/p_087.jpg) no-repeat center;}
.map_bd .md_2{width:450px;float:right;margin-top: 30px;margin-right: 40px;}
.map_bd .md_2 h3{line-height:32px;font-size:24px;color:#fff;}
.map_bd .md_2 ul li{position: relative;margin-top: 15px;}
.map_bd .md_2 ul li span{display: block;width:80px;height:38px;line-height: 38px;font-size:20px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.map_bd .md_2 ul li i{display: block;width:120px;height:38px;line-height: 38px;font-size:20px;color:#999;position: absolute;left: 0;top:0;text-align: center;}
.map_bd .md_2 ul li input{width:448px;height: 38px;line-height: 38px;color:#333;font-size:20px;border: 1px solid #333;text-indent: 80px;background: #fff;}
.map_bd .md_2 ul li textarea{width:448px;height:152px;line-height:38px;font-size:20px;border: 1px solid #333;text-indent: 120px;color:#333;}
.map_bd .md_2 ul li input.sub{width: 148px;height:38px;line-height: 38px;color: #fff;text-align:center;font-size: 24px;background: #bfbfbf;border:none;border-radius: 10px 10px;text-indent: 0px;cursor: pointer;}



.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}



.smart{margin-top: 10px;}
.sm_left{width:810px;height:405px;float: left;overflow: hidden;}
.sm_left img{width: 100%;}
.sm_right{width:378px;height:405px;float: right;overflow: hidden;}
.sm_right a{display: block;width:378px;height: 197px;overflow: hidden;}
.sm_right a:nth-child(2){margin-top: 12px;}
.sm_right img{width: 100%;}

.smart2{width: 100%;margin-top: 40px;}
.smart2 img{width:100%;max-width: 1920px;display: block;margin: 0 auto;}

.smart3{margin-top: 28px;}
.smart3 ul{}
.smart3 ul li{width:594px;height:405px;float:left;margin-left: 12px;margin-top: 12px;}
.smart3 ul li:nth-child(2n+1){margin-left: 0px;}
.smart3 ul li img{width:100%;}

.survey .title2{margin-bottom: 40px;}
.survey_left{width:600px;height:370px;float: left;overflow: hidden;}
.survey_left img{width:100%;}
.survey_right{width:560px;height:370px;float: right;overflow: hidden;}
.survey_right h3{line-height:32px ;font-size:24px ;color:#333;font-weight: bold;margin: 20px 0px;}
.survey_right p{line-height:30px ;font-size:16px ;color:#333;overflow: hidden;}
.survey_right .more{color:#999;font-size:16px;}
.survey_right .more:hover{color: #333;}



.survey_mc .survey_left{width:600px;height:390px;float: left;overflow: hidden;position: relative;}
.survey_mc .survey_left img{width:520px;height:370px;}
.survey_mc .survey_left .bk{width:519px;height:368px;border:1px solid #ce091d;position: absolute;top:20px;left:20px;z-index: -999;}
.survey_mc .survey_right{width:560px;height:390px;float: right;overflow: hidden;}
.survey_mc .survey_right h3{line-height: 40px;font-size:30px;color:#333;font-weight: bold;margin: 0px;}
.survey_mc .survey_right h4{line-height:40px ;font-size:24px ;color:#333;}
.survey_mc .survey_right span{display:inline-block;line-height:30px ;font-size:14px ;color:#333;border-bottom: 4px solid #b1a494;text-transform:uppercase;margin-bottom: 10px;}
.survey_mc .survey_right p{line-height:30px ;font-size:14px ;color:#333;overflow: hidden;}

.ditu{color:#333;text-align: right;margin-top: 30px;}
.ditu h3{line-height: 50px;font-size:30px;font-weight: bold;margin-top: 30px;}
.ditu h4{line-height:44px ;font-size:24px ;color:#333;}
.ditu span{display:inline-block;line-height:30px ;font-size:14px ;color:#333;border-bottom: 4px solid #b1a494;text-transform:uppercase;margin-bottom: 10px;}
.ditu p{width:580px;line-height:30px ;font-size:14px ;color:#333;text-align: left;float: right;}



.course{background: url(../images/p_035.jpg)no-repeat top center;height:620px;}
.course .title2{margin-top: 40px;}
.course .history{margin-top: 40px;}

.team{margin-top: 40px;}
.team ul{}
.team ul li{overflow: hidden;margin-top: 40px;}
.team ul li .img{width:300px;height:300px;float: left;}
.team ul li .img img{width:100%;}
.team ul li .wz{width:666px;height:300px;float: right;color:#333;margin-right: 200px;}
.team ul li .wz h3{line-height:50px;font-size:30px;margin-top: 10px;}
.team ul li .wz h4{line-height:36px;font-size:24px;padding-bottom: 20px;border-bottom: 1px solid #f3f3f3;}
.team ul li .wz p{line-height:26px;font-size:16px;margin-top: 20px;margin-bottom: 20px;}
.team ul li .wz .more:hover{color: #333;}

.honor{margin-top: 40px;margin-bottom: 50px;}
.honor ul{}
.honor ul li{width:282px;height:192px;float:left;margin-left: 24px;margin-top: 30px;}
.honor ul li:nth-child(4n+1){margin-left: 0px;}

.casetype ul{padding-top: 15px;margin-top: 20px;}
.casetype ul li{width:280px;height:330px;float: left;overflow: hidden;margin-left: 26px;margin-bottom: 40px;} 
.casetype ul li:nth-child(4n+1){margin-left: 0px;}
.casetype ul li:hover h3,.casetype ul li.hover h3{color: #b1a494;}
.casetype ul li img{width:280px;height:280px;}
.casetype ul li h3{height:50px;line-height:50px;font-size:30px;color:#333;text-align: center;}


.case ul{padding-top: 15px;margin-top: 20px;}
.case ul li{width:280px;height:300px;float: left;overflow: hidden;margin-left: 26px;margin-bottom: 40px;transition:all linear .3s} 
.case ul li:nth-child(4n+1){margin-left: 0px;}
.case ul li:hover{transform: translateY(-10px);}
.case ul li img{width:280px;height:230px;}
.case ul li h3{height:30px;line-height:30px;font-size:16px;color:#333;overflow: hidden;border-bottom: 1px solid #F3F3F3;}
.case ul li p{height:20px;line-height:20px;font-size:14px;color:#333;overflow: hidden;margin-top: 5px;text-overflow:ellipsis;
white-space: nowrap;}


.nweslist{}
.nweslist ul{}
.nweslist ul li{width:380px;height:;float:left;background: #fafafa;margin-left: 20px;margin-top: 30px;transition:all linear .3s}
.nweslist ul li:nth-child(3n+1){margin-left: 0px;}
.nweslist ul li img{width:380px;height:250px;}
.nweslist ul li h3{height:48px;line-height:48px ;font-size:24px;color:#333 ;overflow: hidden;padding: 0px 10px;}
.nweslist ul li p{height:72px;line-height:24px ;font-size:14px;color:#333 ;overflow: hidden;padding: 0px 10px;}
.nweslist ul li .time{height:72px;line-height:72px;overflow: hidden;color:#fff;background:#787777;margin-top: 14px;}
.nweslist ul li .time span{display:inline-block;float: left;}
.nweslist ul li .time span.sp1{font-size:18px;margin-left: 24px;}
.nweslist ul li .time span.sp2{font-size:18px;}
.nweslist ul li .time span.sp3{font-size:36px;margin-left: 20px;}
.nweslist ul li .time span.sp4{font-size:20px;color:#000;width:52px;height:52px;line-height:64px;font-weight:bold;text-align:center;background: url(../bg/png_016.png)no-repeat;margin-left: 30px;margin-top: 15px;}
.nweslist ul li:hover{transform: translateY(-15px);}
.nweslist ul li:hover .time{background: #424141;}



.news_1{height:1914px;background:url(../bg/png_47.png)no-repeat center;}
.news_1 .cn_tt{font-size:30px;color:#333;position: absolute;left:390px;}
.news_1 .en_tt{font-size:18px;color:#333;position: absolute;left:555px;top:55px;}
.news_1 ul{padding: 140px 30px 30px}
.news_1 ul li{overflow: hidden;}
.news_1 ul li .time{width:230px;height:215px;float: left;border-right: 2px solid #b1a494;position: relative;padding-top: 65px;}
.news_1 ul li .time span{display: block;line-height: 30px;font-size: 24px;color:#999;text-align: center;}
.news_1 ul li:hover .time span{color:#333;}
.news_1 ul li .time i{display: block;width:22px;height:22px;border-radius: 50%;border: 2px solid #b1a494;position: absolute;right:-13px;top:67px;background: #fff;}
.news_1 ul li:hover .time i{background:#b1a494 ;}
.news_1 ul li .wz{width:860px;height:215px;float: right;padding-top: 65px;}
.news_1 ul li .wz h3{line-height: 30px;font-size: 24px;color:#333;}
.news_1 ul li:hover .wz h3{color:#b1a494;}
.news_1 ul li .wz p{height:104px;line-height: 26px;font-size: 16px;color:#999;overflow: hidden;margin: 15px 0px;}
.news_1 ul li .wz h4{line-height: 30px;font-size: 16px;color:#999;float: right;}













.yijia{}
.yj_left{width:380px;float: left;}
.yj_left ul{width:378px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;}
.yj_left ul h3{line-height:50px;font-size:16px;color:#fff;text-align: center;background:#64a7d9 ;}
.yj_left ul li{height:66px;line-height:66px;font-size:18px;text-align: center;border-top:1px solid #64a7d9;}
.yj_left ul li a{display: block;height:100%;color:#333;}
.yj_left ul li:hover,.yj_left ul li.hover{background:#f3f3f3;}
.yj_left ul li:hover a,.yj_left ul li.hover a{background:url(../bg/png_27.png)no-repeat center;}
.yj_js{width:308px;border-radius: 10px;border:1px solid #64a7d9;overflow: hidden;padding:35px;margin: 35px 0px;}
.yj_js p{line-height:32px;font-size:16px ;color: #333;}
.yj_right{width:780px;float: right;}
.yj_right ul li{width:780px;height:340px;overflow: hidden;margin-bottom: 20px;}
.yj_right ul li img{width:100%;}
.fixed{position: fixed;top:0px;}
.absolute{position: absolute;bottom:0px;}

.yjxq{}
.yjxq .img{width:500px;height:500px;overflow: hidden;float: left;text-align: center;border: 1px solid #333;line-height:500px;}
.yjxq img{display: inline-block; vertical-align: middle;}
.yjxq .wz{width:650px;height:500px;overflow: hidden;float: right;color:#333;}
.yjxq .wz h3{line-height:40px ;font-size:24px;}
.yjxq .wz h4{line-height:24px ;font-size:16px;margin: 20px 0px;}
.yjxq .wz p{line-height:32px ;font-size:18px;}

.yjcontent{margin-top: 20px;}
.yjcontent h3{height:60px;line-height:60px ;color:#333;font-size:24px;background: url(../bg/png_28.png) no-repeat 0px 59px;}

.container_image{width:1130px;height:630px;margin:0 auto;position:relative;}
.container_image .i_btn{display:block;width:40px;height:80px;position:absolute;top:225px;z-index:3;}
.container_image .prev_L{left:-54px;background-image:url(../bg/png_29.png);}
.container_image .next_R{right:-54px;background-image:url(../bg/png_30.png);}
.slide_img {margin-left:-394px;position:relative;z-index:1;}
.slide_img li{overflow:hidden;position:absolute;top:15px;background:#ffffff;}
.slide_img li a{display:block;position:relative;width:100%;height:100%;height:630px;}
.slide_img li a img{position:absolute;height:100%;}
.slide_img li .bg{width: 1100px;height:480px;padding-top:150px;position: absolute;left:0px;top:0px;background: rgba(0,0,0,.5);opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;display: block !important;}
.slide_img li:hover .bg{opacity: 1;-ms-opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.slide_img li .bg a{display:block;height:40px;line-height: 44px;font-size:24px;color:#fff;text-align: center;overflow: hidden;}
.slide_img li .bg a:hover{text-decoration:underline;}

.mc{}
.mc h3{line-height:30px ;font-size:24px;color:#333;margin-top: 20px;}
.mc h4{line-height:20px ;font-size:18px;color:#999;}
.mc ul{}
.mc ul li{width:380px;height:450px;float: left;margin: 20px 0px 30px 20px;}
.mc ul li:nth-child(3n+1){margin-left: 0px;} 
.mc ul li .img{width:380px;height:390px;overflow: hidden;} 
.mc ul li .img img{width:100%;transition:all linear .3s;}
.mc ul li h4{height:60px;line-height: 60px;font-size:24px;color:#fff ;text-align: center;background: #b8b8b8;overflow: hidden;}
.mc ul li:hover img{transform:scale(1.05);}

/*wrapper*/
#picSlideWrap{float:left;}
.imgnav{  position:relative;width:402px;}
#img{ z-index:10; width:400px; position:relative; text-align:center;overflow: hidden;border:1px solid #333;}
#img img{width:400px; height:400px; display:none; }
#front{ position:absolute; left:0px; top:0px; z-index:10; cursor:pointer;  width:200px; height:400px; }
#next{  position:absolute; right:0px; top:0px; z-index:10;cursor:pointer; width:200px; height:400px;}

#cbtn{ position:relative; height:80px; border:1px solid #D6D9DC; margin-top:5px;padding: 0px 20px;overflow: hidden;}
#cbtn ul{position:relative; width:10000px; height:80px;margin-top: 5px;}
#cbtn ul li{ float:left; width:70px; height:70px; cursor:pointer; text-align:center; margin:0px 0px; position:relative;border: 1px solid transparent;}
#cbtn ul li img{ width:70px; height:70px; display:block;}
#cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:10px; line-height:16px; padding:0 5px;}
#cbtn li.hov{border: 1px solid #333;}
.ctrl div{ clear:both;}
#cSlideUl{ height:80px;overflow:hidden; position:relative;}
.picSildeLeft{cursor:pointer; position:absolute; top:6px; left:0px; z-index:9;}
.picSildeRight{cursor:pointer; position:absolute; top:6px; right:0px; z-index:9;}

.mc_rt{width:750px;float: right;color: #333;}
.mc_rt h3{line-height:50px;font-size:30px;}
.mc_rt p{line-height:32px;font-size:18px;}

.mc_ct{margin-top: 30px;}
.mc_ct .ct_lt{width:400px;float: left;}
.mc_ct .ct_rt{width:750px;float: right;color: #333;}
.mc_ct .ct_rt h3{line-height:50px;font-size:30px;text-align: left;}
.mc_ct .ct_rt p{line-height:32px;font-size:18px;text-indent: 0;}

.hanger{}
.hanger .hglist{width:1000px;height:114px;position: relative;overflow: hidden;margin-left: 100px;}
.hanger .hglist ul{width:20000em;position:absolute;}
.hanger .hglist ul li{width:200px;height:114px;float: left;}
.hanger .hglist ul li .img{width:200px;height:66px;overflow: hidden;text-align: center;}
.hanger .hglist ul li .img img{display: inline-block;}
.hanger .hglist ul li h3{line-height: 48px;font-size:18px;color:#333;text-align: center;}
.hanger .hglist ul li:hover h3,.hanger .hglist ul li.hover h3{color:#702e48;}
.hanger .prev{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat;position: absolute;left:50px;top:43px;}
.hanger .next{display: block;width:28px;height:48px;background: url(../bg/png_19.png)no-repeat -28px 0px ;position: absolute;right:50px;top:43px;}
.hanger .prev:hover{background: url(../bg/png_19.png)no-repeat 0px -48px;}
.hanger .next:hover{background: url(../bg/png_19.png)no-repeat -28px -48px;}

.hangerlist{margin-bottom: 30px;}
.hangerlist ul{}
.hangerlist ul li{width:380px;height:280px;float: left;border-radius: 10px;overflow: hidden;transition:all linear .3s;margin-left:20px ;margin-top: 45px;position: relative;}
.hangerlist ul li:nth-child(3n+1){margin-left: 0px;}
.hangerlist ul li img{width:380px;height:280px;display: block;}
.hangerlist ul li h3{width:100%;height:50px;line-height: 50px;font-size:20px;color:#fff;background:#712f49;text-align: center;position: absolute;left:0px;bottom: 0px;display: none;}
.hangerlist ul li:hover{transform: translateY(-15px);}
.hangerlist ul li:hover h3{display: block;}


.hgxq{}
.hgxq img{width:460px;height:360px;overflow: hidden;float: left;}
.hgxq .wz{width:690px;height:360px;overflow: hidden;float: right;}
.hgxq .wz p{line-height:40px ;font-size:24px;color:#333;}
.hgxq .wz p i{font-size:30px;color: #ce091d;font-weight: bold;}
.hgxq .wz .zx{display: block;width:170px;height:54px;background: url(../bg/png_20.png)no-repeat;margin: 10px auto;}
.hgcontent{margin-top: 20px;}
.hgcontent h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}

.lge{}
.lge h3{line-height:44px;font-size:30px;color:#333;text-align: center;}
.lge h4{line-height:24px;font-size:16px;color:#b1a494;text-align: center;}
.lge_1{padding: 0px 30px;}
.lge_1 p{line-height:24px;font-size:14px;color:#333;text-indent: 2em;margin-top: 20px;}

.lge_2{padding:0px 30px;margin-top: 40px;}
.lge_2 ul{margin-top: 20px;}
.lge_2 ul li{float: left;width:215px;margin: 0px 35px;}
.lge_2 ul li img{width:81px;height:66px;display: block;margin: 0 auto;}
.lge_2 ul li h5{line-height:24px;font-size:18px;color:#b1a494;text-align: center;}
.lge_2 ul li p{line-height:24px;font-size:16px;color:#b1a494;text-indent: 0;margin-top: 10px;}

.lge_3{padding:0px 50px;margin-top: 50px;position: relative;}
.lge_3 ul{}
.lge_3_bg{width:1200px;height:100px;background: url(../bg/png_36.png)no-repeat center;position: absolute;top:240px;}
.lge_3 ul li{float: left;width:350px;height:150px;margin: 0px 100px;padding-bottom:120px;margin-top: 20px;}
.lge_3 ul li .img{width:150px;}
.lge_3 ul li:nth-child(2n+1) .img{float: left;}
.lge_3 ul li:nth-child(2n) .img{float:right;}
.lge_3 ul li .img img{width:100px;height:78px;display: block;margin: 0 auto;}
.lge_3 ul li .img h5{line-height:24px;font-size:18px;color:#333;text-align: center;margin-top: 10px;}
.lge_3 ul li .wz{width:190px;line-height:24px;font-size:14px;color:#333;text-indent: 0;}
.lge_3 ul li:nth-child(2n+1) .wz{float: right;}
.lge_3 ul li:nth-child(2n) .wz{float:left;}
.lge_3 ul li:nth-child(3),.lge_3 ul li:nth-child(4){padding-bottom: 0px;}

.lge_4{margin-top: 30px;}
.lge_4 ul{height:900px;background: url(../bg/png_37.png)no-repeat center;position: relative;}
.lge_4 ul li{width:180px;line-height:26px ;font-size:18px;color:#333;position: absolute;}
.lge_4 ul li.cl_1{top:15px;left:510px;}
.lge_4 ul li.cl_2{top:240px;right:70px;}
.lge_4 ul li.cl_3{top:570px;right:67px;}
.lge_4 ul li.cl_4{top:820px;left:530px;}
.lge_4 ul li.cl_5{top:550px;left:70px;}
.lge_4 ul li.cl_6{top:260px;left:60px;}

.lge_5{margin-top: 40px;}
.lge_5 span{display: block;height:24px;background: url(../bg/png_39.png)no-repeat center;margin: 10px 0px;}
.lge_5 ul{padding:0px 50px;background: url(../bg/png_38.png)no-repeat;background-position-y: 300px;margin-top: 10px;}
.lge_5 ul li{width:230px;height:400px;float: left;position: relative;margin: 0px 20px;}
.lge_5 ul li img{width:100%;}
.lge_5 ul li h3{width:100%;line-height:30px;font-size:22px;color:#fff;text-align: center;position: absolute;top:145px;}
.lge_5 ul li i{display:block;width:68px;line-height:68px;font-size:30px;color:#fff;text-align: center;background:#b1a494;position: absolute;left:81px;top:290px;border-radius: 34px;}
.lge_5 ul li.c_1:hover i{background:#2fc33b;}
.lge_5 ul li.c_2:hover i{background:#fe3235;}
.lge_5 ul li.c_3:hover i{background:#f7c878;}
.lge_5 ul li.c_4:hover i{background:#2d76ff;}

.lge_6{height:530px;background:#d7c9b8;padding: 30px 50px;margin-bottom: 30px;}
.lge_6 ul{height:530px;border: 2px solid #fff;}
.lge_6 ul h3{color: #fff;padding: 30px 0px;}
.lge_6 ul li{height:60px;line-height:58px;font-size:30px;color:#fff;overflow: hidden;margin-bottom: 20px;}
.lge_6 ul li span{display: block;width:305px;line-height: 60px;float: left;text-align: right;}
.lge_6 ul li input.ipt{width:660px;height:58px;line-height:58px;font-size:20px;color:#fff;border:1px solid #fff;float: left;margin-left: 10px;}
.lge_6 ul li input.submit{margin-left: 315px;cursor: pointer;}
.lge_6 ul li input.submit:hover{background: #95897b;}
.lge_6 ul li input.ipt2{margin-left: 10px;}
.lge_6 ul li label{font-size:20px;}
.lge_6 ul li select{width:214px;height:58px;line-height:58px;font-size:20px;color:#fff;border:1px solid #fff;float: left;margin-left: 10px;}
.lge_6 ul li select option{color: #333;}


.groom{margin-bottom: 40px;}
.groom_left{width:380px;height:270px;float: left;background: #fafafa;}
.groom h3{height:60px;line-height:60px ;color:#333;font-size:18px;background:#e9e9e9 ;border-radius: 15px 15px 0px 0px;padding-left: 20px;margin-bottom: 15px;}
.groom_left p{line-height:32px;font-size:16px ;color: #333;padding-left: 20px;}
.groom_right{width:790px;height:270px;float: right;background: #fafafa;}
.groom_right ul{}
.groom_right ul li{width:350px;height:32px;line-height:32px;float: left;overflow: hidden;margin-left: 20px;font-size:16px ;}
.groom_right ul li a{color:#777;}
.groom_right ul li p{display:inline-block;width:220px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.groom_right ul li span{display: block;float: right;}
.groom_right ul li i{display: block;float: left;margin-right: 5px;}
.groom_right ul li:hover a{color:#333;}

.strength{}
.strength ul{margin-top: 20px;}
.strength ul li{width:380px;height:320px;float: left;position: relative;margin: 0px 10px;} 
.strength ul li img{width:380px;}
.strength ul li h3{width:380px;height:70px;line-height:70px;font-size:24px;color:#a39964;text-align: center;overflow: hidden;}
.strength ul li p{width:340px;height:180px;position: absolute;left: 0px;top: 0px;z-index: 999;line-height:32px;font-size:16px;color:#fff;display:table-cell;vertical-align:middle;background:rgba(249,137,4,.65);-moz-background:rgba(249,137,4,.65);-ms-background:rgba(249,137,4,.65);-webkit-background:rgba(249,137,4,.65);padding: 70px 20px;opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;}
.strength ul li:hover h3{position: absolute;left: 0px;bottom: 0px;z-index: 9999;color:#fff;text-align: center;}
.strength ul li:hover p{opacity: 1;-ms-opacity:1;}

.advantage_bg{background: #fafafa;padding: 20px 0px;}
.advantage{margin-top: 25px;}
.advantage h3.h3{width:380px;height:60px;line-height:60px ;font-size:24px;color:#fff;background:#9bd37a;margin: 0 auto;text-align: center;font-weight: bold;margin-top: 15px;}
.advantage ul{margin-top: 35px;}
.advantage ul li{width:285px;height:350px ;float: left;border-radius: 15px;overflow: hidden;margin-left: 15px;}
.advantage ul li div{width:234px;height:296px;border:2px solid #fff;border-radius: 15px;margin:15px ;padding: 10px;line-height:30px ;font-size:16px;color:#fff ;}
.advantage ul li div h4{text-align: center;}
.advantage ul li.l1{background:#f1c500;}
.advantage ul li.l2{background:#f2b284;}
.advantage ul li.l3{background:#bf9300;}
.advantage ul li.l4{background:#a64c0d;}

.requirement{margin-top: 40px;}
.requirement ul{}
.requirement ul li{width:400px;height:250px;float: left;position: relative;overflow: hidden;margin-top: 20px;}
.requirement ul li img{margin: 10px auto;display: block;transition:all linear .3s;}
.requirement ul li h3{text-align: center;font-size:24px;color:#333;margin-top: 15px;}
.requirement ul li p{width:340px;height:180px;position: absolute;left:0px;top:0px;line-height:32px;font-size:16px;color:#333;padding: 50px 30px 20px 30px;text-indent: 2em;opacity:0;-ms-opacity:0;background: #fff;}
.requirement ul li:hover p{opacity: 1;-ms-opacity:1;}
.requirement ul li:hover img{opacity: 0;-ms-opacity:0;}
.requirement ul li:hover h3{position: absolute;left: 0px;top: 0px;z-index: 9999;width:100%;text-align: center;}

.process{margin-top: 40px;margin-bottom: 40px;}
.process .img{text-align: center;}
.process .img img{display:block;margin: 0 auto;}

.franchise_bg{background: #fafafa;padding: 30px 0px; margin-bottom: 100px;}
.home_01 .d1{ padding:30px; position:relative;background:#fff;margin-top: 30px;}
.home_01 .d1 .scroll{ width:1050px; height:246px; margin:0 auto;}
.home_01 .d1 .scroll li{ margin-left:30px;width: 330px;height:246px;position: relative;}
.home_01 .d1 .scroll li:nth-child(3n+1){ margin-left:0;}
.home_01 .d1 .scroll li .bg{width: 330px;height:246px;position: absolute;left:0px;top:0px;background: rgba(0,0,0,.5);opacity: 0;-ms-opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all linear .3s;}
.home_01 .d1 .scroll li .bg h3{height:50px;line-height: 50px;font-size:16px;color:#fff;text-align: center;overflow: hidden;margin-top: 196px;}
.home_01 .d1 .scroll li:hover .bg{opacity: 1;-ms-opacity:1;-moz-opacity:1;-webkit-opacity:1;}
.home_01 .d1 .prevPage,.home_01 .d1 .nextPage{ width:28px; height:52px; display:block; position:absolute; top:128px;}
.home_01 .d1 .prevPage{ background:url(../bg/png_011.png) no-repeat; left:30px;}
.home_01 .d1 .nextPage{ background:url(../bg/png_013.png) no-repeat; right:30px;}
.home_01 .d1 .prevPage:hover{ background:url(../bg/png_012.png) no-repeat;}
.home_01 .d1 .nextPage:hover{ background:url(../bg/png_014.png) no-repeat;}


.content{padding: 20px 10px;}
.content h3{line-height:60px ;font-size:30px;color:#333;text-align: center;}
.content p{line-height:32px ;font-size:18px;color:#333;text-indent: 2em;}
.content p img{margin:10px auto;max-width: 1200px;display: block;}


.showpage{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage form{display: inline-block;}
.showpage p{display: inline-block;margin: 0px 10px;}
.showpage a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage a:hover,.showpage a.hover{border:1px solid #d03241;color:#d03241;}
.showpage .sub{width:58px;height:38px;border:2px solid #b31524;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}

.showpage_mc a,.showpage .shuzi{display: inline-block;width:45px;height:45px;line-height:45px;border:1px solid #c9c9c9;color:#c9c9c9;font-size:16px;text-align: center;margin: 0px 3px;}
.showpage_mc a:hover,.showpage_mc a.hover{border:1px solid #afa292;color:#afa292;}
.showpage_mc .sub{width:58px;height:38px;border:2px solid #afa292;color:#333;font-size:16px;text-align: center;border-radius:5px;margin: 0px 3px;}




.showpage2{overflow: hidden;text-align: center;margin: 40px auto;}
.showpage2 a{display: inline-block; font-size: 18px;color:#333;height:30px;line-height: 30px;}
.showpage2 a.prev{float: left;}
.showpage2 a.next{float: right;}
.showpage2 a.list i{display:inline-block;width:20px;height:20px;background: url(../bg/png_017.png)no-repeat;float: left;margin-top: 5px;margin-right: 5px;}
.showpage2 a:hover{color:#d03241;}
.showpage2 a:hover i{background: url(../bg/png_018.png)no-repeat;}

.showpage2_mc a:hover{color:#afa292;}




.footer_zn{height:305px;min-width: 1200px;}
.footer_zn .ft_1{height:235px;background:#cacaca;}
.footer_zn .ft_1 ul{float: left;margin-left: 80px;margin-top: 20px;}
.footer_zn .ft_1 ul li{line-height:28px ;font-size:20px;color:#fff;text-align: center;}
.ft_1 ul.u2{width:350px;border-left:1px solid #fff;padding:0px 40px;height:200px;margin-left:40px;}
.ft_1 ul.u2 h3{line-height: 40px;font-size:20px;color: #fff;}
.ft_1 ul.u2 p{line-height: 24px;font-size:16px;color: #fff;}
.ft_1 ul.u3{width:120px;padding:0px 30px;border-left:1px solid #fff;height:200px;border-right: 1px solid #fff; margin-left: 0px}
.ft_1 ul.u4{margin-left: 40px;}
.footer_zn .ft_1 ul li a{color:#fff;font-size: 16px;}
.footer_zn .ft_1 ul li:hover a{text-decoration: underline;}
.footer_zn .ft_1 ul li.rwm{margin-top:10px;}
.footer_zn .ft_1 ul li.rl{font-size:16px;text-align: left;}
.footer_zn .ft_1 ul li.tel{line-height:40px;font-size:36px;text-align: left;font-weight: bold;text-indent: 40px;background:url(../bg/png_32.png)no-repeat 0px 3px;margin-top: 10px;}
.footer_zn .ft_1 ul li.lx{height:54px;margin-top: 15px;position: relative;}
.footer_zn .ft_1 ul li.lx a{display: block;width:54px;height:54px;float: left;margin-right:15px;}
.footer_zn .ft_1 ul li.lx a.qq{background:url(../bg/png_31.png)no-repeat ;}
.footer_zn .ft_1 ul li.lx a.wb{background:url(../bg/png_31.png)no-repeat -68px 0px ;}
.footer_zn .ft_1 ul li.lx a.wx{background:url(../bg/png_31.png)no-repeat -136px 0px;}
.footer_zn .ft_1 ul li.lx .rwm{width:100px;height:100px;position: absolute;top:0px;left:200px;display: none;}
.footer_zn .ft_1 ul li.lx .rwm img{width:100%;}
.footer_zn .ft_1 ul li.lx a.wx:hover .rwm{display: block;}
.footer_zn .ft_2{line-height: 30px;text-align: center;font-size:18px;color:#fff ;background: #999;border-top: 1px solid #fff;padding: 10px 0px;}
