{include file='public/header' /}

    <body style="background-color: #393D49">
        <div class="x-box">
            <div class="x-top">
                <i class="layui-icon x-login-close">
                    &#x1007;
                </i>
                <ul class="x-login-right">
                    <li style="background-color: #F1C85F;" color="#F1C85F">
                    </li>
                    <li style="background-color: #EA569A;" color="#EA569A">
                    </li>
                    <li style="background-color: #393D49;" color="#393D49">
                    </li>
                </ul>
            </div>
            <div class="x-mid">
                <div class="x-avtar">
                    <img src="__STATIC__/admin/images/logo.png" alt="">
                </div>
                <div class="input">
                    <form class="layui-form">
                        <div class="layui-form-item x-login-box">
                            <label for="username" class="layui-form-label" style="width: 58px;">
                                <i class="layui-icon">&#xe612;</i>
                            </label>
                            <div class="layui-input-inline">
                                <input type="text" id="username" name="username" required=""
                                 placeholder="username" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item x-login-box">
                            <label for="password" class="layui-form-label" style="width: 58px;">
                                <i class="layui-icon">&#xe628;</i>
                            </label>
                            <div class="layui-input-inline">
                                <input type="password" id="password" name="password" required=""  placeholder="******" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item" id="">
                            <button  class="layui-btn" lay-filter="save" lay-submit="" type="button" id="loginbtn">
                                登 录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p style="color:#fff;text-align: center;">Copyright © 2017.Company name All rights X-admin </p>
        {include file='public/base_js' /}
        <script>
            layui.use(['form'],
            function() {
                $ = layui.jquery;
                var form = layui.form(),
                layer = layui.layer;

                $('.x-login-right li').click(function(event) {
                    color = $(this).attr('color');
                    $('body').css('background-color', color);
                });

                //监听提交
//                form.on('submit(save)',
//                function(data) {
//                    console.log(data);
//                    layer.alert(JSON.stringify(data.field), {
//                      title: '最终的提交信息'
//                    },function  () {
//                        location.href = "__STATIC__/index.html";
//                    })
//                    return false;
//                });

            });

        </script>

        <script>
            $(function(){
                $("#loginbtn").on('click',function(){
                    $.ajax({
                        type: 'POST',
                        url: "{:url('login/check')}",
                        data: $(".layui-form").serialize(),
                        dataType: "json",
                        success: function(data){
                            if (data.status == 1) {
                                alert(data.message);
                                window.location.href = "{:url('index/index_one')}";
                            } else {
                                alert(data.message);
                                window.location.href = "{:url('login/index')}";
                            }
                        }
                    })
                })
            })
        </script>
    </body>

</html>